<div ng-repeat="match in ngModel | FilterByStartTimeAndFinality" class="pl0  mini-match-panel">
    <div class="panel">
        <div ng-if='match.donttouch' class="col-xs-12" ng-style=" {                      
                                'height': '20px',
                                'width':'100%',
                                'background-color':'red',
                                'color':'white',
                                'text-align':'center',                   
                                'background-color': 'red',
   	                            'border-radius': '6px 6px 0 0'
                                }">DON'T TOUCH
        </div>
        <div class="col-xs-12" ng-style="match.competition.graphics.match_decoration?{                       
                                'height': '40px',
                                'background-size': 'cover',
                                'border-radius': '5px 5px 0 0',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+match.competition.graphics.match_decoration+')'}:''">
        </div>
        <!--{{match}}-->
        <div ng-show="match.state == 0" class="panel-heading col-xs-12 text-center" sty=" font-weight: bold;
    font-size: large;">
            <team-link teamid="match.home_team._id" teamshort="match.home_team.name.short" teamfull="match.home_team.name.en"></team-link> -
            <team-link teamid="match.away_team._id" teamshort="match.away_team.name.short" teamfull="match.away_team.name.en"></team-link>
        </div>

        <div ng-show="match.state > 0 && !match.completed" class="panel-heading match-status col-xs-12 text-center">
            <strong>Live</strong><br/>
            <team-link teamid="match.home_team._id" teamshort="match.home_team.name.short" teamfull="match.home_team.name.en"></team-link> -
            <team-link teamid="match.away_team._id" teamshort="match.away_team.name.short" teamfull="match.away_team.name.en"></team-link>
        </div>

        <div ng-show="match.state > 0 && match.completed" class="panel-heading col-xs-12 text-center">
            <strong>Ended</strong><br/>
            <team-link teamid="match.home_team._id" teamshort="match.home_team.name.short" teamfull="match.home_team.name.en"></team-link> -
            <team-link teamid="match.away_team._id" teamshort="match.away_team.name.short" teamfull="match.away_team.name.en"></team-link>
        </div>

        <div class="panel-body col-xs-12 p0" style="min-height: 131px;">
            <div class="col-xs-12 p0 pl-lg pr-lg">
                <div class="col-xs-4 p0 text-center">
                    <img ng-if="match.home_team.logo" class="thumb48" ng-src="{{match.home_team.logo}}" />
                </div>
                <div class="col-xs-4 p0 text-muted text-center">
                    <h4>VS</h4>
                </div>
                <div class="col-xs-4 p0 text-center">
                    <img ng-if="match.away_team.logo" class="thumb48" ng-src="{{match.away_team.logo}}" />

                </div>
            </div>
            <div ng-show="match.state > 0 && !match.completed" class="time mb-sm mt-lg text-center"> <em class="fa fa-clock-o "></em> {{match.time}}'</div>
            <div ng-show="match.state == 0" class="time col-xs-12 p-sm text-center">Pre Game</div>
            <div ng-show="match.completed" class="time col-xs-12 pb-sm text-center">FT</div>
            <div ng-show="match.state > 0 || match.completed" class="match-status col-xs-12 text-center">
                <span class="score">{{match.home_score}} - {{match.away_score}}</span>
            </div>

            <div ng-show="match.state == 0" class="col-xs-12 p-sm mb-sm  match-info"><strong>{{formatDate(match.start)}}</strong></div>
        </div>
        <div ng-show="!match.completed" ng-click="moderateMatch(match._id, match.sport)" class="panel-footer text-center"><i class="fa fa-caret-square-o-right fa-fw" aria-hidden="true"></i>Moderate</div>
        <div ng-show="match.completed" ng-click="moderateMatch(match._id, match.sport)" class="panel-footer text-center"><i class="fa fa-caret-square-o-right fa-fw" aria-hidden="true"></i>View</div>
    </div>
</div>