<div class="row">
    <div class="col-xs-12" style="display:table; position:relative;">
        <div ng-show="selected && lObject" style="display: table-cell" >
            <div>
                <input type="text" placeholder="Leaderboard description" class="form-control" ng-model="lObject[selected]" />
            </div>
        </div>
        <div ng-show="!selected || !lObject" style="display: table-cell">
            <div>
                <input type="text" placeholder="Add new language key" class="form-control" ng-model="newLangKey" />
            </div>
        </div>
        <div ng-show="!selected || !lObject" style="display: table-cell; ">
             <button  ng-click="pushLangKey()"  class="form-control  btn btn-default" style="margin-top: 3px;">+</button>
        </div>
        
       <div ng-show="selected && lObject" style="display: table-cell">
        <button ng-click="delete(selected)" class="form-control  btn btn-default" style="margin-top: 3px;">-</button>
       </div>
        
        <div style="display: table-cell">
            <select chosen disable-search="true" data-placeholder="Add new" allow-single-deselect="true" ng-model="selected" ng-options="key as key for (key , value) in lObject"
            class="form-control chosen-select">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div style="clear: both"></div>
</div>