<div class="row">
    <div class="col-xs-12">
         <div ng-show="!selected" class="col-xs-6">
            <div>
                <input type="text" placeholder="Add new language key" class="form-control" ng-model="newLangKey" />
            </div>
        </div>
        <div ng-show="!selected">
             <button  ng-click="pushLangKey()" style="height: 35px;" class="pull-left btn btn-default">+</button>
        </div>
        
       <div ng-show="selected">
        <button ng-click="delete(selected)" style="height: 35px;" class="pull-left btn btn-default">-</button>
       </div>
        
        <div class="col-xs-4" style="min-width:100px;">
            <select chosen disable-search="true" data-placeholder="Add new" allow-single-deselect="true" ng-model="selected" ng-options="key as key for (key , value) in lObject"
            class="form-control chosen-select">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div ng-show="selected" class="col-xs-12" style="margin-top:10px;" >
            <div>
                <textarea  type="textArea" class="input-textarea editable-has-buttons editable-input form-control input-sm ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="lObject[selected]" />
            </div>
        </div>

    <div style="clear: both"></div>
</div>