<!-- START OF EDIT PANEL -->
<!-- START of ANIMATIONS -->
<div ng-init="selectedLoading = false" ng-class="loading?'fadeOutDown':'fadeInUp'" class="animated">
    <div animate-enabled='true' ng-show="selectedItem" class="panel animShow">
        <!-- END of ANIMATIONS -->
        <div class="panel articleCard">
            <div class="panel-body">
                <div class="form-group">
                     <div class="col-sm-4 col-lg-2">
                        <label>Image</label>
                        <div class="event-team-logo" ng-show="selectedItem._id">
                            <img style="width:100%" ng-if="selectedItem.pic"  ng-src="{{selectedItem.pic}}" />
                            <image-upload folder="players" should-update="true" filename="selectedItem._id" ng-model="selectedItem" pic-key="pic"></image-upload>
                        </div>
                        <div class="event-team-logo" ng-show="!selectedItem._id">
                            <p ng-if="!selectedItem.pic" class="muted">This data item does not have an ID yet.</br>Therefore you cannot upload an image until it has.</br>However
                                you can pass an image url in the settings uib-tab.</p>
                            <img ng-if="selectedItem.pic" class="img-responsive dragover" ng-src="{{selectedItem.pic}}" />
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-5">
                        <multi-lang-text language-object="selectedItem.name" default="en" label="Name"></multi-lang-text>

                        <label>Team</label>
                        <ui-select ng-model="selectedItem.teamId" theme="bootstrap" ng-disabled="uisel.disabled" class="text-left">
                            <ui-select-match placeholder="Select team">{{$select.selected.name.en}}</ui-select-match>
                            <ui-select-choices repeat="tag._id as tag in Tags | filter: $select.search | filter: {type:'Team'}">
                                <span ng-bind-html="tag.name.en | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                        <label>Position</label>

                        <ui-select ng-model="selectedItem.position" theme="bootstrap" ng-disabled="uisel.disabled" class="text-left">
                            <ui-select-match placeholder="Select position">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="position in positions | filter: $select.search">
                                <span ng-bind-html="position | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                        <label>Birth Date</label>
                        <p class="input-group" style="position:relative">

                            <input type="text" placeholder="Birth Date" name="date" datepicker-popup ng-model="selectedItem.personalData.birth.birthDate.full"
                                is-open="openedCal.birth" datepicker-options="popupOptions" close-text="Close" class="form-control"
                            />
                            <span class="input-group-btn">
                                <button type="button" ng-click="openCal($event, 'birth')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </p>
                    </div>


                    <uib-tabset type="pills" class=" col-sm-8 col-lg-5" style="margin-top:20px">
                        <uib-tab>
                            <uib-tab-heading>
                                Stats
                            </uib-tab-heading>
                            <div class="col-xs-12 p0 mt-lg">
                                <multi-lang-text language-object="selectedItem.stats" placeholder="Add a new stat"></multi-lang-text>
                                
                                <!--<multi-lang-text language-object="value" placeholder="Add a new stat"></multi-lang-text>-->
                                <scrollable-uib-tabset api="scrlTabsApi" show-drop-down="false" tooltip-left-placement="top">
                                    <uib-tabset>
                                        <uib-tab ng-repeat="(key,value) in selectedItem.stats">
                                            <uib-tab-heading>{{key}}</uib-tab-heading>
                                            <div class="tabContent">
                                                <div class="list-group mb0">
                                                    <multi-lang-text language-object="value" placeholder="Add a new stat"></multi-lang-text>
                                                    <span ng-repeat="(key,value) in value" class="list-group-item striped bt0"><span class="label label-inverse pull-right">{{value}}</span>
                                                    <!--<em class="fa fa-fw fa-calendar mr"></em>-->
                                                    {{key}}</span>

                                                    <!--<span ng-repeat="stat in stats.match.stats"><strong>{{stat.key}}</strong>:{{stat.value}}</br></span></td>-->
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab>
                                            <uib-tab-heading>Last uib-tab</uib-tab-heading>
                                            <div class="tabContent">Last uib-tab content</div>
                                        </uib-tab>
                                    </uib-tabset>
                                </scrollable-uib-tabset>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Personal
                            </uib-tab-heading>
                            <div class="col-xs-12 pt-lg">
                                <label>Birth Date</label>
                                <p class="input-group" style="position:relative">

                                    <input type="text" placeholder="Birth Date" name="date" datepicker-popup ng-model="selectedItem.personalData.birth.birthDate.full"
                                        is-open="openedCal.birth" datepicker-options="popupOptions" close-text="Close" class="form-control"
                                    />
                                    <span class="input-group-btn">
                                <button type="button" ng-click="openCal($event, 'birth')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                                </p>
                            </div>
                        </uib-tab>
                        
                        <uib-tab>
                            <uib-tab-heading>
                                Settings
                            </uib-tab-heading>
                            <div class="col-xs-12" style="margin-top:20px">
                                <div class="form-group">
                                    <label>Player database ID</label>
                                    <div class="input-group mb-sm"><input type="text" ng-model="selectedItem._id" ng-disabled="true" class="form-control">
                                        <span class="input-group-btn"><button type="button" ng-click="clipboard(selectedItem._id)" class="btn btn-default"><em class="fa fa-clipboard"></em></button></span>
                                    </div>
                                    <label>Image url</label>
                                    <input type="text" class="form-control" ng-model="selectedItem.pic" />
                                    <multi-lang-text ng-model="parserid" language-object="selectedItem.parserids" default="Stats" label="Parsers"></multi-lang-text>
                                    <btn ladda="view.busy" ng-click="updateByFeedParser(selectedItem, parserid.value)" data-style="zoom-out" class="col-xs-12 btn btn-lg edit">Update data by {{parserid.key}} parser and id:{{parserid.value}}</btn>
                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
            <div ng-show="type=='edit'">
            <div class="panel-footer">
                <btn ng-click="cancel();loading = true" class="btn btn-default pull-right">Cancel</btn>
                <btn ladda="view.update" data-style="expand-right" ng-click="updateItem(selectedItem)" class="btn btn-outline do btn-success btn-space pull-right">Update</btn>
                <btn ng-show="type=='create'" ladda="view.busy" ng-click="CreateItem(selectedItem)" data-style="zoom-out" class="btn do btn-space pull-right">Create</btn>
            </div>
            </div>
            <div ng-show="type=='create'">
                <div class="panel-footer">
                    <btn ng-click="selectedItem = null; loading = true" class="btn btn-default pull-right">Cancel</btn>
                    <btn ladda="view.update" data-style="expand-right" ng-click="CreateItem(selectedItem)" class="btn btn-outline do btn-success btn-space pull-right">Create</btn>
                </div>
        </div>
    </div>
</div>
<!-- END OF EDIT PANEL -->