<!-- START OF EDIT PANEL -->
<!-- START of ANIMATIONS -->
<div ng-init="selectedLoading = false" ng-class="loading?'fadeOutDown':'fadeInUp'" class="animated">
    <div animate-enabled='true' ng-show="selectedItem" class="panel animShow">
        <!-- END of ANIMATIONS -->
        <div class="panel articleCard">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-4 col-lg-2">
                        <label>Image</label>
                        <div class="event-team-logo text-center" ng-show="selectedItem._id">
                            <img ng-if="selectedItem.logo" style="width: 100%;" class="m" ng-src="{{selectedItem.logo}}" />
                            <image-upload folder="teams" search="transparent png 256" should-update="true" filename="selectedItem._id" ng-model="selectedItem"
                                pic-key="logo"></image-upload>
                        </div>
                        <div class="event-team-logo text-center" ng-show="!selectedItem._id">
                            <p ng-if="!selectedItem.logo" class="muted">This data item does not have an ID yet.</br>Therefore you cannot upload an image until it has.</br>However
                                you can pass an image url in the settings uib-tab.</p>
                            <img ng-if="selectedItem.logo" class="thumb256 m" ng-src="{{selectedItem.logo}}" />
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-5">

                        <multi-lang-text language-object="selectedItem.name" default="en" label="Club Name"></multi-lang-text>

                        <label>League</label>
                        <ui-select limit=1 on-select="OnSet()" reset-search-input="true" ng-model="selectedItem.competitionid" theme="bootstrap"
                            ng-disabled="event.chooseplayer.disabled">
                            <ui-select-match placeholder="Select Competition">
                                <img class="ui-select-match-img" alt="$select.selected.name.en" ng-src="{{$select.selected.logo}}">                                {{$select.selected.name.en}}
                            </ui-select-match>

                            <ui-select-choices repeat="team._id as team in Competitions | filter: $select.search">
                                <img class="ui-select-match-img" alt='{{team.logo}}' ng-src='{{team.logo}}'>
                                <div ng-bind-html="team.name.en | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>

                    <uib-tabset justified="true" class="bg-white  col-sm-12 col-lg-5" style="margin-top:20px">
                        <uib-tab>
                            <uib-tab-heading>
                                Players
                            </uib-tab-heading>
                            <div ng-show="!selectedItem.playersLoaded" class="col-xs-12 p0">
                                <button ladda="view.loadingPlayers == 1" style="margin:5px" data-style="expand-right" ng-click="LoadPlayers(selectedItem)"
                                    ng-show="!selectedTeam.playersLoaded" class="col-xs-12 btn btn-primary edit">Load Players</button>
                            </div>
                            <!--{{selectedItem.players}}-->
                            <div ng-show="selectedItem.playersLoaded">

                                <!-- START OF Players Table -->
                                <div class="panel col-xs-12 no-padding">
                                    <table width="100%" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!--<th>logo</th>-->
                                                <th>Name</th>
                                                <th>Position</th>
                                                <!--<th>ID</th>-->
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="player in selectedItem.players">
                                                <td>
                                                    <player-link playerid="player._id" name="player.name.en"></player-link>
                                                </td>
                                                <td>{{player.position}}</td>
                                                <td align="center ">
                                                    <button class="btn btn-danger delete"> <i ng-click="removePlayer(player); " class="fa fa-trash "></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-footer" style="overflow: visible; padding-bottom: 43px; background-color: white;">
                                        <!-- START OF Add New Player -->
                                        <div>
                                            <div class="col-xs-10" style="padding-left:0">
                                                <select chosen disable-search="false" data-placeholder="Add new player" allow-single-deselect="true" ng-model="selectedTeam.selectedPlayer"
                                                    ng-options="option.name.en for option in (Tags | filter: {type: 'Player'})"
                                                    class="form-control chosen-select">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <button ng-click="pushPlayer(selectedTeam.selectedPlayer)" class="col-xs-2 btn btn-default">Add</button>
                                        </div>
                                        <!-- END OF Add New Player -->
                                    </div>
                                </div>
                                <!-- END OF Players Table -->

                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Info
                            </uib-tab-heading>

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th class="text-center">Team</th>
                                        <th uib-tooltip="Matches Played" tooltip-append-to-body="true" class="text-center">MP</th>
                                        <th uib-tooltip="Goals For" tooltip-append-to-body="true" class="text-center">GF</th>
                                        <th uib-tooltip="Goals Against" tooltip-append-to-body="true" class="text-center">GA</th>
                                        <th uib-tooltip="Wins" tooltip-append-to-body="true" class="text-center">W</th>
                                        <th uib-tooltip="Losses" tooltip-append-to-body="true" class="text-center">L</th>
                                        <th uib-tooltip="Ties" tooltip-append-to-body="true" class="text-center">T</th>
                                        <th class="text-center">Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{selectedItem.standing.rank}}
                                        </td>
                                        <td>
                                            {{selectedItem.standing.teamName.en}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.gamesPlayed}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.goalsFor}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.goalsAgainst}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.wins}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.losses}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.ties}}
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.standing.points}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="mt-sm table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td>
                                            Recent Form
                                        </td>
                                        <td ng-class="'form-'+form" class="text-center" ng-repeat="form in selectedItem.recentform track by $index">
                                            {{form}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="mt-sm table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr ng-if="selectedItem.lastmatch">
                                        <td>
                                            Last match
                                        </td>
                                        <td class="text-center">
                                            <span uib-tooltip="{{selectedItem.lastmatch.home.name.en}}"><img class="thumb24" ng-src="{{selectedItem.lastmatch.home.logo}}"/></span>
                                        </td>
                                        <td class="text-center">{{selectedItem.lastmatch.homescore}} &nbsp;-&nbsp; {{selectedItem.lastmatch.awayscore}}</td>
                                        <td class="text-center">
                                            <span uib-tooltip="{{selectedItem.lastmatch.away.name.en}}"><img class="thumb24" ng-src="{{selectedItem.lastmatch.away.logo}}"/></span>
                                        </td>
                                    </tr>
                                    <tr ng-if="selectedItem.nextmatch">
                                        <td>
                                            Next match
                                        </td>
                                        <td class="text-center">
                                            <span uib-tooltip="{{selectedItem.nextmatch.home.name.en}}"><img class="thumb24" ng-src="{{selectedItem.nextmatch.home.logo}}"/></span>
                                        </td>
                                        <td class="text-center">{{formatDate(selectedItem.nextmatch.eventdate)}}</td>
                                        <td class="text-center">
                                            <span uib-tooltip="{{selectedItem.nextmatch.away.name.en}}"><img class="thumb24" ng-src="{{selectedItem.nextmatch.away.logo}}"/></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                            <table class="mt-sm table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td>
                                            Top scorer
                                        </td>
                                        <td class="text-center">
                                            {{selectedItem.topscorer.uniformNumber}}
                                        </td>
                                        <td class="p0 text-center">
                                            <img class="thumb32" ng-src="{{selectedItem.topscorer.pic}}" />
                                        </td>
                                        <td class="text-center">
                                            <player-link playerid="selectedItem.topscorer._id" name="selectedItem.topscorer.name.en"></player-link>
                                        </td>
                                        <td class="text-center">
                                            Goals: {{selectedItem.topscorer.stats[selectedItem.topscorer.lastActiveSeason].goals}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Settings
                            </uib-tab-heading>
                            <div class="col-xs-12" style="margin-top:20px">
                                <div class="form-group">
                                    <label>Team database ID</label>
                                    <div class="input-group mb-sm"><input type="text" ng-model="selectedItem._id" ng-disabled="true" class="form-control">
                                        <span class="input-group-btn"><button type="button" ng-click="clipboard(selectedItem._id)" class="btn btn-default"><em class="fa fa-clipboard"></em></button></span>
                                    </div>
                                    <label>Image url</label>
                                    <input type="text" class="form-control" ng-model="selectedItem.logo" />
                                    <multi-lang-text ng-model="selectedItem.parser" language-object="selectedItem.parserids" default="Stats" label="Parsers"></multi-lang-text>
                                    <btn ladda="view.busy" ng-class="view.busy?'':'edit'" ng-click="updateByFeedParser(selectedItem, selectedItem.parser.key, selectedItem.parser.value, selectedItem.leagueids)" data-style="zoom-out" class="btn-primary col-xs-12 btn btn-lg ">Update data by {{selectedItem.parser.key}} parser and id:{{selectedItem.parser.value}}</btn>
                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>



                </div>
                <br/>
            </div>
            <div ng-show="type=='edit'">
                <div class="panel-footer">

                    <btn ng-click="selectedItem = null;  loading = true" class="btn btn-default pull-right">Cancel</btn>
                    <btn ladda="view.delete" data-style="expand-right" ng-click="deleteItem(selectedItem)" class="btn btn-outline delete btn-danger btn-space pull-right">Delete</btn>
                    <btn ladda="view.update" data-style="expand-right" ng-click="updateItem(selectedItem)" class="btn btn-outline do btn-success btn-space pull-right">Update</btn>
                </div>
            </div>
            <div ng-show="type=='create'">
                <div class="panel-footer">
                    <btn ng-click="selectedItem = null; loading = true" class="btn btn-default pull-right">Cancel</btn>
                    <btn ladda="view.update" data-style="expand-right" ng-click="CreateItem(selectedItem)" class="btn btn-outline do btn-success btn-space pull-right">Create</btn>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END OF EDIT PANEL -->
<!--{{selectedItem}}-->