<div class="event-card">
    <div ng-show="modCtrl.clickedEvent == event.id" class="controlls col-xs-12">
        <button ng-click="editEvent(event)" class="edit col-xs-6 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
        <button ng-click="removeEvent(event)" class="delete col-xs-6 btn btn-danger"><span class="btn-label"><i class="fa fa-trash"></i>
                                    </span></button>
    </div>

    <div noSwipeClick ng-click="modCtrl.clickedEvent == event.id? modCtrl.clickedEvent = -1: modCtrl.clickedEvent = event.id;  event.clicked = true" class="text-center popover-content" style="line-height: 30px;"
         ng-class="modCtrl.clickedEvent!=null &&  event.clicked? ((modCtrl.clickedEvent == event.id)? 'slideLeft': 'slideRight'): ''">
        
        <em  class="pull-left event-group-icon fa fa-clock-o fa-fw"></em>
        
        <img class="shadowed" style="position: relative;
            height: 35px;
            width: auto;
            top: -3px;
            float: left;" alt='{{event.type}}' src='{{match.data.home_team.logo}}'>

          <strong>Match Starts</strong>
         
         <img class="shadowed" style="position: relative;
            height: 35px;
            width: auto;
            top: -3px;
            right: -3px;
            float: right;" alt='{{event.type}}' src='{{match.data.away_team.logo}}'>
    </div>
</div>
