<div class="timeline-badge event-minute">
    {{event.time}}' 
</div>
<div class="timeline-panel">
    <div class="popover" ng-class="($index%2==0?'right':'left') +' '+ event.trigger" style="min-height:48px">
        <div class="arrow"></div>
        <!-- EVENT DATA VIEW -->

<div class="event-card">
    <div ng-show="modCtrl.clickedEvent == event.id" class="controlls col-xs-12">
        <button ng-click="editEvent(event)" class="edit col-xs-6 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
        <button ng-click="removeEvent(event)" class="delete col-xs-6 btn btn-danger"><span class="btn-label">
                                    </span></button>
    </div>

    <div noSwipeClick ng-click="modCtrl.clickedEvent == event.id? modCtrl.clickedEvent = -1: modCtrl.clickedEvent = event.id;  event.clicked = true"
        class="popover-content" style="line-height: 15px;" ng-class="modCtrl.clickedEvent!=null &&  event.clicked? ((modCtrl.clickedEvent == event.id)? 'slideLeft': 'slideRight'): ''">

        <img class="shadowed right-team-logo thumb32" alt='{{event.type}}' src='{{match.data[event.team].logo}}'>

        <div class="card-icon">
            <img class="shadowed thumb32" alt='{{now.data.team }}' src="./app/img/sportimo/offside.png">
        </div>
        
        <!--<div class="event-time">{{event.time}}'</div>-->
        <div class="event-type"> {{capitalize(event.type)}}</div>
        <div class="event-player">{{event.players[0].name.en}}</div>
    </div>
</div>
        <!-- END EVENT DATA VIEW -->
    </div>
</div>
