<!--<h3>Match Moderation-->
<!--<small>Administration and Moderation of matches</small>-->
<!--</h3>-->
<div id="tabone" class="unwrap">
    <div class="match-profile bg-cover bg-gray-darker">
        <div class="match-profile-heading p-xl text-center text-white col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="match-logos">
                <div class="team-logo col-sm-4">
                    <img ng-src="{{match.data.home_team.logo}}"/>
                    <div></div>
                    <p>{{match.data.home_team.name}}</p>
                </div>
                <div class="col-sm-4">
                    <div ng-show="match.sport.segments[ match.data.timeline.length - 1].timed" class="match-time">{{match.data.time}}'</div>
                    <div ng-show="match.data.state > 0" class="match-info">
                        <small class="text-muted"></small>
                        <div class="score">{{match.data?(GetStat(match.data.home_team._id,'g') || 0) +" - "+ (GetStat(match.data.away_team._id,'g') || 0): ''}}</div>

                    </div>
                    <div ng-show="match.data.state == 0" class="match-info">
                        <small class="text-muted"></small>
                        <h5><strong>{{formatDate(match.data.match_date)}}</strong></h5>
                        <h5 class="text-muted">{{match.GetCurrentSegment()}}</h5>
                    </div>
                </div>
                <div class="team-logo  col-sm-4">
                    <img ng-src="{{match.data.away_team.logo}}"/>
                    <div></div>
                    <p> {{match.data.away_team.name}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center bg-gray-dark p-lg">
        <div class="row row-table">
            <div class="col-xs-4 br">
                <!--<h3 class="m0">400</h3>-->
                <!--<p class="m0">-->
                <!--<span class="hidden-xs">Connected</span>-->
                <!--<span>Users</span>-->
                <!--</p>-->
            </div>
            <div class="col-xs-4 br">
                <h3 class="m0">{{match.Match_timer}}</h3>

                <p class="m0 match-segment-title">{{match.GetCurrentSegment()}}</p>
            </div>
            <div class="col-xs-4">
                <button ng-click="advanceSegment()"> Advance Segment</button>
                <!--<h3 class="m0">100</h3>-->

                <!--<p class="m0">Following</p>-->
            </div>
        </div>
    </div>

    <div>
        <!-- START panel-->
        <div id="matchData" class="panel panel-default">
            <div class="panel-body">

                <tabset >
                    <tab  heading="Timeline">

                        <div  class="grid col-xs-12">
                            <md-button flex="50" ng-click="showGridBottomSheet($event)" class="md-primary md-raised">Show as Grid</md-button>
                            <script type="text/ng-template" id="bottom-sheet-grid-template.html">
                                <md-bottom-sheet class="md-grid">
                                    <md-list>
                                        <md-list-item ng-repeat="item in items">
                                            <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
                                                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                                                <div class="md-grid-text"> {{ item.name }} </div>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                </md-bottom-sheet>
                            </script>
                            <script type="text/ng-template" id="bottom-sheet-list-template.html">
                                <md-bottom-sheet class="md-list md-has-header">
                                    <md-subheader>Comment Actions</md-subheader>
                                    <md-list>
                                        <md-list-item ng-repeat="item in items">
                                            <md-button class="md-list-item-content" ng-click="listItemClick($index)">
                                                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                                                <span class="md-inline-list-icon-label">{{ item.name }}</span>
                                            </md-button>
                                        </md-list-item>
                                    </md-list>
                                </md-bottom-sheet>
                            </script>
                            <div class="row">

                                <div class="col-md-9">
                                    <div class=" btn-group timeline-options-header">
                                        <div dropdown="dropdown" class="moderation btn-group" style="">
                                            <button type="button" ng-disabled="disabled" dropdown-toggle=""
                                                    class="btn dropdown-toggle btn-inverse" aria-haspopup="true"
                                                    aria-expanded="false" aria-disabled="false">Events
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                <li><a ng-click="createEvent('substitution');">Substitution</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a ng-click="createEvent('foul');">Foul</a>
                                                </li>
                                                <li><a ng-click="createEvent('corner');">Corner</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a ng-click="createEvent('yellow',{yc:1});">Yellow Card</a>
                                                </li>
                                                <li><a ng-click="createEvent('red');">Red Card</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a ng-click="createEvent('goal');">Goal</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button  ng-click="openDrawer(2)" type="button" class="moderation btn btn-labeled  btn-group btn-inverse">
                                             <span class="btn-label"><i class="fa fa-bullhorn"></i></span>Send Message</button>
                                        <button  ladda="modCtrl.pushLoading" data-style="expand-left" ng-click="modCtrl.pushLoading = true;loadMatchData(match.id)" type="button" class="moderation btn btn-labeled  btn-group btn-inverse">
                                      <span class="btn-label"><i class="fa fa-refresh"></i></span>Reload Data</button>
                                    </div>
                                    <br/>

                                    <!-- START Create EVENT DRAWER -->
                                    <div ng-show="eventDrawer == 1" class="events-self ">
                                        <div class="type-banner-vertical" ng-class="event.type">
                                            <span>{{event.type}}</span>
                                        </div>
                                        <div class="events-self panel">
                                            <!--<div class="panel-heading"><strong>{{event.time+"'"+" "+event.type}}</strong></div>-->
                                            <div class="moving-self panel-body">
                                                <div class="row">

                                                    <div class="match-logos col-sm-4 col-xs-12">
                                                        <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                                            <img class="moving-self-img"
                                                                 ng-click="event.team = 'home_team'"
                                                                 ng-class="event.team != 'home_team'? 'desaturate':'zoom'"
                                                                 ng-src="{{match.data.home_team.logo}}"/>
                                                            <br/>
                                                            {{match.data.home_team.name}}
                                                        </div>
                                                        <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                                            <img class="moving-self-img"
                                                                 ng-click="event.team ='away_team'"
                                                                 ng-class="event.team != 'away_team'? 'desaturate':'zoom'"
                                                                 ng-src="{{match.data.away_team.logo}}"/>
                                                            <br/>
                                                            {{match.data.away_team.name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-12">
                                                        <!-- For single player events -->
                                                        <div ng-hide="event.playerscount == 2"
                                                             ng-class="event.type+'-text'" class="moving-self-heading">
                                                            Event player name:
                                                        </div>
                                                        <ui-select ng-hide="event.playerscount == 2" limit=1 on-select="checkSelection($item,$model)"
                                                                   multiple
                                                                   reset-search-input = "true"
                                                                   ng-model="event.players" theme="bootstrap"
                                                                   ng-disabled="event.chooseplayer.disabled">
                                                            <ui-select-match placeholder="Select player name"><img
                                                                    class="ui-select-match-img" alt="$item.team"
                                                                    ng-src="{{match.data[$item.team].logo}}">
                                                                {{$item.name}}
                                                            </ui-select-match>
                                                            <ui-select-choices
                                                                    repeat="player in players | filter: (filterTeamPlayers || '') && {team: event.team} | propsFilter: {name: $select.search, team: $select.search}">
                                                                <img class="ui-select-match-img" alt='{{player.team}}'
                                                                     ng-src='{{match.data[player.team].logo}}'>

                                                                <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                                                <!--<small>-->
                                                                <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                                                <!--</small>-->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <!-- For multi player events -->
                                                        <div ng-hide="event.playerscount == 1"
                                                             ng-class="event.type+'-text'" class="moving-self-heading">
                                                            Event player names:
                                                        </div>
                                                        <ui-select ng-hide="event.playerscount == 1" limit=2 on-select="checkSelection"
                                                                   multiple
                                                                   reset-search-input = "true"
                                                                   ng-model="event.players" theme="bootstrap"
                                                                   ng-disabled="event.chooseplayer.disabled">
                                                            <ui-select-match placeholder="Select player name"><img
                                                                    class="ui-select-match-img" alt="$item.team"
                                                                    ng-src="{{match.data[$item.team].logo}}">
                                                                {{$item.name}}
                                                            </ui-select-match>
                                                            <ui-select-choices
                                                                    repeat="player in players | filter: (filterTeamPlayers || '') && {team: event.team} | propsFilter: {name: $select.search, team: $select.search}">
                                                                <img class="ui-select-match-img" alt='{{player.team}}'
                                                                     ng-src='{{match.data[player.team].logo}}'>

                                                                <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                                                <!--<small>-->
                                                                <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                                                <!--</small>-->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <div class="mb">
                                                            <label class="mda-checkbox">
                                                                <input type="checkbox"  ng-model="filterTeamPlayers" />
                                                                <em class="subtle-checkbox"></em>Only selected team players</label>
                                                        </div>
                                                    </div>
                                                    <!--<div class="player-input col-sm-4 col-xs-6">-->

                                                    <!--<div class="mda-form-group float-label">-->
                                                    <!--<input ng-model="event.data.player" required="" tabindex="0"-->
                                                    <!--ng-class="event.type+'-text'"-->
                                                    <!--aria-required="true" aria-invalid="true"-->
                                                    <!--class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched"-->
                                                    <!--style="">-->
                                                    <!--<label ng-hide="event.data.player">Player Name</label>-->
                                                    <!--</div>-->


                                                    <!--</div>-->
                                                    <!--<div class="player-result col-sm-4 col-xs-6">-->
                                                    <!--<div ng-click="selectPlayer(player)"-->
                                                    <!--ng-class="event.data.player == player?'{{event.type}} + selected':''"-->
                                                    <!--ng-if="filteredPlayers.length<10"-->
                                                    <!--ng-repeat="player in (filteredPlayers = ( players | filter:event.data.player))">-->
                                                    <!--{{player}}-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                                <div  ng-show="humanizedEvent" ng-class="event.type" class="humanized-event" ng-bind-html="humanizedEvent"> </div>
                                            </div>
                                            <div class="panel-footer">

                                                <button ng-click="closeDrawer()" type="button"
                                                        class="mb-sm btn btn-pill-right btn-default pull-right">Cancel
                                                </button>
                                                <button ng-click="addEvent(event)" disable-animation
                                                        ng-show="complete == true" type="button"
                                                        class="btn btn-square btn-pill-left pull-right btn-success">Send
                                                    Event
                                                </button>
                                                <button ng-click="addEvent(event)" disable-animation
                                                        ng-show="complete == false" type="button"
                                                        class="mb-sm btn btn-pill-left btn-warning pull-right">
                                                    Send and Update later
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Create EVENT DRAWER -->
                                    <!-- START Update EVENT DRAWER -->
                                    <div ng-show="eventDrawer == 3" class="events-self ">
                                        <div class="type-banner-vertical" ng-class="selectedEvent.type">
                                            <span>{{selectedEvent.type}}</span>
                                        </div>
                                        <div class="events-self panel">
                                            <!--<div class="panel-heading"><strong>{{event.time+"'"+" "+event.type}}</strong></div>-->
                                            <div class="moving-self panel-body">
                                                <div class="row">

                                                    <div class="match-logos col-sm-4 col-xs-12">
                                                        <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                                            <img class="moving-self-img"
                                                                 ng-click="selectedEvent.team = 'home_team'"
                                                                 ng-class="selectedEvent.team != 'home_team'? 'desaturate':'zoom'"
                                                                 ng-src="{{match.data.home_team.logo}}"/>
                                                            <br/>
                                                            {{match.data.home_team.name}}
                                                        </div>
                                                        <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                                            <img class="moving-self-img"
                                                                 ng-click="selectedEvent.team ='away_team'"
                                                                 ng-class="selectedEvent.team != 'away_team'? 'desaturate':'zoom'"
                                                                 ng-src="{{match.data.away_team.logo}}"/>
                                                            <br/>
                                                            {{match.data.away_team.name}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-12">
                                                        <!-- For single player events -->
                                                        <div ng-hide="selectedEvent.playerscount == 2"
                                                             ng-class="selectedEvent.type+'-text'" class="moving-self-heading">
                                                            Event player name:
                                                        </div>
                                                        <ui-select ng-hide="selectedEvent.playerscount == 2" limit=1 on-select="checkSelection($item,$model)"
                                                                   multiple
                                                                   reset-search-input = "true"
                                                                   ng-model="selectedEvent.players" theme="bootstrap"
                                                                   ng-disabled="selectedEvent.chooseplayer.disabled">
                                                            <ui-select-match placeholder="Select player name"><img
                                                                    class="ui-select-match-img" alt="$item.team"
                                                                    ng-src="{{match.data[$item.team].logo}}">
                                                                {{$item.name}}
                                                            </ui-select-match>
                                                            <ui-select-choices
                                                                    repeat="player in players | filter: (filterTeamPlayers || '') && {team: selectedEvent.team} | propsFilter: {name: $select.search, team: $select.search}">
                                                                <img class="ui-select-match-img" alt='{{player.team}}'
                                                                     ng-src='{{match.data[player.team].logo}}'>

                                                                <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                                                <!--<small>-->
                                                                <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                                                <!--</small>-->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <!-- For multi player events -->
                                                        <div ng-hide="selectedEvent.playerscount == 1"
                                                             ng-class="selectedEvent.type+'-text'" class="moving-self-heading">
                                                            Event player names:
                                                        </div>
                                                        <ui-select ng-hide="selectedEvent.playerscount == 1" limit=2 on-select="checkSelection"
                                                                   multiple
                                                                   reset-search-input = "true"
                                                                   ng-model="selectedEvent.players" theme="bootstrap"
                                                                   ng-disabled="selectedEvent.chooseplayer.disabled">
                                                            <ui-select-match placeholder="Select player name"><img
                                                                    class="ui-select-match-img" alt="$item.team"
                                                                    ng-src="{{match.data[$item.team].logo}}">
                                                                {{$item.name}}
                                                            </ui-select-match>
                                                            <ui-select-choices
                                                                    repeat="player in players | filter: (filterTeamPlayers || '') && {team: selectedEvent.team} | propsFilter: {name: $select.search, team: $select.search}">
                                                                <img class="ui-select-match-img" alt='{{player.team}}'
                                                                     ng-src='{{match.data[player.team].logo}}'>

                                                                <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                                                <!--<small>-->
                                                                <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                                                <!--</small>-->
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <div class="mb">
                                                            <label class="mda-checkbox">
                                                                <input type="checkbox"  ng-model="filterTeamPlayers" />
                                                                <em class="subtle-checkbox"></em>Only selected team players</label>
                                                        </div>
                                                    </div>
                                                    <!--<div class="player-input col-sm-4 col-xs-6">-->

                                                    <!--<div class="mda-form-group float-label">-->
                                                    <!--<input ng-model="event.data.player" required="" tabindex="0"-->
                                                    <!--ng-class="event.type+'-text'"-->
                                                    <!--aria-required="true" aria-invalid="true"-->
                                                    <!--class="mda-form-control ng-pristine ng-invalid ng-invalid-required ng-touched"-->
                                                    <!--style="">-->
                                                    <!--<label ng-hide="event.data.player">Player Name</label>-->
                                                    <!--</div>-->


                                                    <!--</div>-->
                                                    <!--<div class="player-result col-sm-4 col-xs-6">-->
                                                    <!--<div ng-click="selectPlayer(player)"-->
                                                    <!--ng-class="event.data.player == player?'{{event.type}} + selected':''"-->
                                                    <!--ng-if="filteredPlayers.length<10"-->
                                                    <!--ng-repeat="player in (filteredPlayers = ( players | filter:event.data.player))">-->
                                                    <!--{{player}}-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                </div>
                                                <div  ng-show="humanizedEvent" ng-class="selectedEvent.type" class="humanized-event" ng-bind-html="humanizedEvent"> </div>
                                            </div>
                                            <div class="panel-footer">

                                                <button ng-click="closeDrawer()" type="button"
                                                        class="mb-sm btn btn-pill-right btn-default pull-right">Cancel
                                                </button>
                                                <button ng-click="updateEvent(selectedEvent)" disable-animation
                                                        type="button"
                                                        class="btn btn-square btn-pill-left pull-right btn-success">Update
                                                    Event
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Update EVENT DRAWER -->
                                    <!-- START timeline-->
                                    <div id="timeline-card" class="">
                                        <div class="">
                                            <!--<paneltool tool-refresh="line back-and-forth grow" class="pull-right"><a-->
                                                    <!--href="#" panel-refresh="" data-spinner="line back-and-forth grow"-->
                                                    <!--tooltip="Refresh"> <em-->
                                                    <!--class="fa fa-refresh"></em> </a></paneltool>-->
                                        </div>
                                        <div class="">
                                            <ul ng-repeat="segment in match.data.timeline | reverse " class="timeline">

                                                <li data-datetime="{{match.sport.segments[ match.data.timeline.length - 1 - $index].name}}"
                                                    class="timeline-separator"></li>
                                                <!-- START timeline item-->

                                                <li    ng-repeat="event in segment.events | reverse | filter: {status:'!removed'}" class="custom"
                                                    ng-class="$index%2==0?'timeline-inverted':'timeline-left'">

                                                    <div class="timeline-badge">
                                                        {{event.time}}'
                                                        <!--<em class="fa fa-comment" ng-class="event.trigger"></em>-->
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="popover"
                                                             ng-class="($index%2==0?'right':'left') +' '+ event.trigger">
                                                            <div class="arrow"></div>

                                                            <ng-include src="'app/views/partials/events/'+event.type+'.html'"></ng-include>

                                                            <!--<div class="popover-content" ng-class="event.trigger">-->
                                                            <!--<div class="table-grid table-grid-align-middle mb">-->
                                                            <!--<div class="col">-->
                                                            <!--<p class="m0">-->
                                                            <!--{{event.data.time}}-->
                                                            <!--<a href="#" class="text-muted">-->
                                                            <!--<strong>{{event.data.sender}}</strong>-->
                                                            <!--</a>posted a comment</p>-->
                                                            <!--</div>-->
                                                            <!--</div>-->
                                                            <!--<p>-->
                                                            <!--<em>{{event.data.message}}</em>-->
                                                            <!--</p>-->
                                                            <!--</div>-->

                                                        </div>
                                                    </div>


                                                </li>
                                                <!-- END timeline item-->
                                                <!-- START timeline item-->
                                                <li class="timeline-end">
                                                    <a href="#" class="timeline-badge timeline-start-badge">
                                                        <em class="fa fa-circle"></em>
                                                    </a>
                                                </li>
                                                <!-- END timeline item-->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END timeline-->
                                </div>

                                <div class="col-sm-3 panel timeline-options-side">
                                    <div class="panel-body">
                                    <!-- Message Option-->
                                    <div dropdown="dropdown" class="moderation btn-group" style="">
                                        <button type="button" ng-disabled="disabled" dropdown-toggle=""
                                                class="btn dropdown-toggle btn-inverse" aria-haspopup="true"
                                                aria-expanded="false" aria-disabled="false">Events
                                            <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a ng-click="createEvent('substitution');">Substitution</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a ng-click="createEvent('foul',{fc:1});">Foul</a>
                                            </li>
                                            <li><a ng-click="createEvent('corner',{cr:1});">Corner</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a ng-click="createEvent('yellow',{yc:1});">Yellow Card</a>
                                            </li>
                                            <li><a ng-click="createEvent('red',{rc:1});">Red Card</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a ng-click="createEvent('goal',{g:1});">Goal</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div ng-show="eventDrawer == 1" class="panel" style="margin-top: 18px;">
                                        <h3 class="m0 pb-lg panel-heading">Event data:</h3>

                                        <textarea style="width:100%; height:350px;"
                                                  class="panel-body">{{readable(event)}}</textarea>
                                    </div>

                                    <button  ng-click="openDrawer(2)" type="button" class="moderation btn btn-labeled  btn-group btn-inverse">
                                      <span class="btn-label"><i class="fa fa-bullhorn"></i>
                                    </span>Send Message</button>
                                    <!-- Message Option-->
                                    <div ng-show="eventDrawer == 2"class="panel" style="margin-top: 18px;">
                                    <div  class="form-group mb-xl panel-body">

                                            <div class="mda-form-group ">
                                    <textarea ng-model="push.message" style="height: 180px;"
                                              placeholder="{{demomessage}}" rows="7"
                                              aria-multiline="true" tabindex="0" aria-invalid="false"
                                              class="mda-form-control ng-pristine ng-valid ng-touched"
                                              style="margin-top: 0px; margin-bottom: 0px; height: 139px;"></textarea>
                                                <label>Message</label>
                                                <span class="mda-form-msg right">Any message here</span>
                                            </div>
                                            <div class="">
                                                <br/>
                                                <button ladda="pushLoading" data-style="expand-left"
                                                        ng-click="sendMessage(match.id, push.message)"
                                                        class="btn btn-success pull-right btn-lg">
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <button  ladda="modCtrl.pushLoading" data-style="expand-left" ng-click="modCtrl.pushLoading = true;loadMatchData(match.id)" type="button" class="moderation btn btn-labeled  btn-group btn-inverse">
                                      <span class="btn-label"><i class="fa fa-refresh"></i>
                                    </span>Reload Data</button>

</div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Teams">
                    </tab>
                    <tab heading="Prizes">
                    </tab>
                    <tab heading="Stats">
                        <div class="panel col-xs-12">
                            <div class="panel-heading">
                                <h3>Stats</h3>
                            </div>
                            <div class="panel-body" >
                                <pre>{{readable(match.data.stats)}}</pre>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Settings">
                        <div class="panel col-xs-12">
                            <div class="panel-heading">
                                <h3>Settings</h3>
                            </div>
                            <div class="panel-body">
                                <pre>{{readable(match.data.settings)}}</pre>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>
<br/>


<script type="text/ng-template" id="firstDialogId">

        <div class="sportimo-dialog">
            <div class="sportimo-dialog-heading text-center">
                 <img src="app/img/sportimo/icon_sportimo-white_64.png" alt="App Logo" class="pull-left"> {{ngDialogData.title}}
            </div>
            <div class="sportimo-dialog-body text-center">
                <p ng-show="ngDialogData.message"><code>{{ngDialogData.message}}</code></p>
            </div>
            <div class="sportimo-dialog-footer text-center">
                <button type="button" ng-click="closeThisDialog(0)" class="btn btn-info btn-large">Ok, Got It!</button>
            </div>
        </div>
        <!--<h3 class="mt0">ngDialog template</h3><p ng-show="theme">Test content for<code>{{theme}}</code></p><p ng-show="ngDialogData.foo">Data passed through:<code>{{ngDialogData.foo}}</code></p><button type="button" ng-dialog="secondDialogId" ng-dialog-class="ngdialog-theme-default" ng-dialog-controller="SecondModalCtrl" ng-dialog-close-previous="ng-dialog-close-previous" class="btn btn-default mr">Close and open</button><button type="button" ng-click="openSecond()" class="btn btn-primary">Open next</button></div>-->
</script>


<script type="text/ng-template" id="deleteEventDialog">
    <!--<div>-->
    <div class="sportimo-dialog">
        <div class="sportimo-dialog-danger-heading text-center">
            <img src="app/img/sportimo/icon_sportimo-white_64.png" alt="App Logo" class="pull-left"> {{ngDialogData.title}}
        </div>
        <div class="sportimo-dialog-body text-center">
            <p ng-show="ngDialogData.message" ng-bind-html="ngDialogData.message"></p>
        </div>
        <div class="sportimo-dialog-footer text-center">
            <button type="button" ng-click="confirm(1)" class="btn btn-danger btn-large">Yup, sure. NP!</button>
            <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default btn-large">Cancel</button>
        </div>
    </div>
    <!--<h3 class="mt0">ngDialog template</h3><p ng-show="theme">Test content for<code>{{theme}}</code></p><p ng-show="ngDialogData.foo">Data passed through:<code>{{ngDialogData.foo}}</code></p><button type="button" ng-dialog="secondDialogId" ng-dialog-class="ngdialog-theme-default" ng-dialog-controller="SecondModalCtrl" ng-dialog-close-previous="ng-dialog-close-previous" class="btn btn-default mr">Close and open</button><button type="button" ng-click="openSecond()" class="btn btn-primary">Open next</button></div>-->
</script>

