<div ng-controller="DashboardController as dash">

    <div>
        <!-- START widget-->
        <div>
                <div ng-repeat="match in livematches" class="col-md-6 pl0 scheduled-match">
                    <div class="panel">
                        <div ng-show="match.started=='0'" class="panel-heading  text-center">
                           {{match.home_team_name}} -
                            {{match.visitor_team_name}}
                        </div>
                        
                        <div ng-show="match.started=='1'" class="panel-heading match-status text-center">
                            <strong>Live:</strong> {{match.home_team_name}} -
                            {{match.visitor_team_name}}</div>
                        
                        <div class="panel-body pb0">
                            <div class="team-logos clearfix">
                                <div class="team-logo pull-left ">
                                    <img ng-src="http://162.13.157.7/soccerapp/images/teams_logos/{{match.home_team_logo}}" />

                                    <div></div>
                                </div>
                                <div class="team-logo pull-right ">
                                    <img ng-src="http://162.13.157.7/soccerapp/images/teams_logos/{{match.visitor_team_logo}}" />

                                    <div></div>
                                </div>
                            </div>
                            <div ng-show="match.started=='1'" class="time row mb-sm text-center"> <em class="fa fa-clock-o "></em> 89'</div>
                            <div ng-show="match.started=='1'" class="match-status row text-center">
                                    <span class="score">2 - 0</span>
                            </div>
                              
                            <div ng-show="match.started=='0'" class="match-info">
                                <p>
                                    <br/>
                                    <strong>{{formatDate(match.match_date)}}</strong><br/>
                                    <span class="text-muted">{{getMatchStatus(match.status)}}</span>
                                </p>
                            </div>
                        </div>
                        <div ng-click="ModerateMatch(match._id, match.sport)" class="panel-footer text-center">clicking on the panel starts moderation</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END widget-->

    </div>
</div>