<!--
<h3 style="margin-bottom: 0;">Leaderboards
    <small>Create and manage Sportimo leaderboards for the whole season, weekly rewards or custom leaderboards.</small>
</h3>
-->




<div ng-show="gridOptions.rowData" class="container-fluid">
    <div class="clearfix no-padding">
        <button class="col-xs-12 btn btn-lg minimal"><strong>{{selectedPool.title.en}}</strong></button>
    </div>
    <div angular-grid="gridOptions" style="width: 100%; height: 400px;" class="ag-angle"></div>
    <div class="col-xs-12 no-padding ">
        <button ng-click="gridOptions.rowData = null; gridOptions.api.onNewRows();" class="col-xs-6 btn btn-lg minimal">Close Leaderboard</button>
        <button ladda="loading.leaderboard" data-style="expand-left" data-spinner-color="#99999" ng-click="showLeaderboard(selectedPool)"
            class="ladda-button col-xs-6 btn btn-lg minimal">Reload Leaderboard</button>
    </div>
</div>

<div ng-show="!NewPool && !EditPool" class="col-lg-12 no-padding">
    <!-- START panel tab-->
    <div class="panel panel-transparent col-lg-12 no-padding">
        <uib-tabset justified="true" class="bg-white p0">
            <uib-tab>
                <uib-tab-heading>
                    Season
                </uib-tab-heading>

                <!-- START LeaderBoards -->
                <div ng-show="!NewPool && !EditPool" class="table-responsive">
                    <div class="input-group col-xs-12 no-padding">
                        <input ng-model="leaderboardSearch" placeholder="Search leaderboards... e.g. coca cola" type="text" class="form-control">
                        <span
                            class="input-group-btn"><button type="button" class="btn btn btn-default"><i class="fa fa-search"></i></button></span>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Leaderboard</th>
                                <th class="text-center">Visible In</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Sponsor</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="poolroom in PoolRooms | filter: {roomtype: 'Season'} | filter: leaderboardSearch ">
                                <td>
                                    {{poolroom.title.en}}
                                    <span ng-show="poolroom.isdefault"><label> [Default] </label></span>
                                </td>
                                <td class="text-center" style="width:200px">
                                    <!--ng-class="poolroom.isdefault?'td-isdefault':''"-->
                                    <div ng-show="poolroom.country == null || poolroom.country.length == 0 || poolroom.isdefault">
                                        <label>Everywhere</label>
                                    </div>
                                    <div ng-show="!poolroom.isdefault">
                                        <span ng-repeat="country in poolroom.country">{{country+' &nbsp;'}}</span>
                                    </div>
                                    <!--<sparkline data-bar-color="{{colorByName('primary')}}" data-height="20" data-bar-width="5" data-bar-spacing="2" values="1,4,4,7,5,9,10" data-resize="true"></sparkline>-->
                                </td>
                                <td class="text-center" style="width:100px">
                                    <div class="label" ng-class="poolroom.status?('label-'+poolroom.status):''">{{poolroom.status}}</div>
                                </td>
                                <td class="text-center" ng-style="{
                    'width': '150px',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat',
                    'background-position': '50%',
                    'background-image':'url('+poolroom.sponsor.banner+')'}">

                                </td>
                                <td class="text-center" style="width:250px">
                                    <div class="event-card" ng-init="poolroom.openActions = false">
                                        <div style="width:200px" class="controlls col-xs-12">
                                            <button ladda="loading.leaderboard" data-style="expand-left" ng-click="showLeaderboard(poolroom);" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-sitemap"></i>
                                    </span></button>
                                            <button ng-click="editPool(poolroom)" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
                                            <button ng-click="setDefault(poolroom)" ng-class="poolroom.isdefault?'edit':'minimal'" class=" small-margin col-xs-4 btn"><span class="btn-label"><i class="fa fa fa-file"></i>
                                    </span></button>
                                            <button ng-click="removePool(poolroom)" class="delete col-xs-4 btn btn-danger"><span class="btn-label">
                                    </span></button>
                                        </div>

                                        <!--<div noSwipeClick ng-click="poolroom.openActions = !poolroom.openActions" class="popover-content" ng-class="poolroom.openActions? 'slideLeft': 'slideRight'">
                            Click here
                        </div>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-12 no-padding ">
                        <button ng-click="AddNewPool()" class="col-xs-12 btn btn-lg minimal">Add new Leaderboard</button>
                    </div>
                </div>
                <!-- END LEaderBoards -->

            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Weekly
                </uib-tab-heading>

                <!-- START LeaderBoards -->
                <div ng-show="!NewPool && !EditPool" class="table-responsive">
                    <div class="input-group col-xs-12 no-padding">
                        <input ng-model="leaderboardSearch" placeholder="Search leaderboards... e.g. coca cola" type="text" class="form-control">
                        <span
                            class="input-group-btn"><button type="button" class="btn btn btn-default"><i class="fa fa-search"></i></button></span>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Leaderboard</th>
                                <th class="text-center">Visible In</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Sponsor</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="poolroom in PoolRooms | filter: {roomtype: 'Week'} | filter: leaderboardSearch ">
                                <td>
                                    {{poolroom.title.en}}
                                    <span ng-show="poolroom.isdefault"><label> [Default] </label></span>
                                </td>
                                <td class="text-center" style="width:200px">
                                    <!--ng-class="poolroom.isdefault?'td-isdefault':''"-->
                                    <div ng-show="poolroom.country == null || poolroom.country.length == 0 || poolroom.isdefault">
                                        <label>Everywhere</label>
                                    </div>
                                    <div ng-show="!poolroom.isdefault">
                                        <span ng-repeat="country in poolroom.country">{{country+' &nbsp;'}}</span>
                                    </div>
                                    <!--<sparkline data-bar-color="{{colorByName('primary')}}" data-height="20" data-bar-width="5" data-bar-spacing="2" values="1,4,4,7,5,9,10" data-resize="true"></sparkline>-->
                                </td>
                                <td class="text-center" style="width:100px">
                                    <div class="label" ng-class="poolroom.status?('label-'+poolroom.status):''">{{poolroom.status}}</div>
                                </td>
                                <td class="text-center" ng-style="{
                    'width': '150px',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat',
                    'background-position': '50%',
                    'background-image':'url('+poolroom.sponsor.banner+')'}">

                                    <td class="text-center" style="width:250px">
                                        <div class="event-card" ng-init="poolroom.openActions = false">
                                            <div style="width:200px" class="controlls col-xs-12">
                                                <button ladda="loading.leaderboard" data-style="expand-left" ng-click="showLeaderboard(poolroom);" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-sitemap"></i>
                                    </span></button>
                                                <button ng-click="editPool(poolroom)" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
                                                <button ng-click="setDefault(poolroom)" ng-class="poolroom.isdefault?'edit':'minimal'" class=" small-margin col-xs-4 btn"><span class="btn-label"><i class="fa fa fa-file"></i>
                                    </span></button>
                                                <button ng-click="removePool(poolroom)" class="delete col-xs-4 btn btn-danger"><span class="btn-label"><i class="fa fa-trash"></i>
                                    </span></button>
                                            </div>

                                            <!--<div noSwipeClick ng-click="poolroom.openActions = !poolroom.openActions" class="popover-content" ng-class="poolroom.openActions? 'slideLeft': 'slideRight'">
                            Click here
                        </div>-->
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-12 no-padding ">
                        <button ng-click="AddNewPool()" class="col-xs-12 btn btn-lg minimal">Add new Leaderboard</button>
                    </div>
                </div>
                <!-- END LEaderBoards -->

            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    Custom
                </uib-tab-heading>

                <!-- START LeaderBoards -->
                <div ng-show="!NewPool && !EditPool" class="table-responsive">
                    <div class="input-group col-xs-12 no-padding">
                        <input ng-model="leaderboardSearch" placeholder="Search leaderboards... e.g. coca cola" type="text" class="form-control">
                        <span
                            class="input-group-btn"><button type="button" class="btn btn btn-default"><i class="fa fa-search"></i></button></span>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Leaderboard</th>
                                <th class="text-center">Visible In</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Sponsor</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="poolroom in PoolRooms | filter: {roomtype: 'Custom'} | filter: leaderboardSearch ">
                                <td>
                                    {{poolroom.title.en}}
                                    <span ng-show="poolroom.isdefault"><label> [Default] </label></span>
                                </td>
                                <td class="text-center" style="width:200px">
                                    <!--ng-class="poolroom.isdefault?'td-isdefault':''"-->
                                    <div ng-show="poolroom.country == null || poolroom.country.length == 0 || poolroom.isdefault">
                                        <label>Everywhere</label>
                                    </div>
                                    <div ng-show="!poolroom.isdefault">
                                        <span ng-repeat="country in poolroom.country">{{country+' &nbsp;'}}</span>
                                    </div>
                                    <!--<sparkline data-bar-color="{{colorByName('primary')}}" data-height="20" data-bar-width="5" data-bar-spacing="2" values="1,4,4,7,5,9,10" data-resize="true"></sparkline>-->
                                </td>
                                <td class="text-center" style="width:100px">
                                    <div class="label" ng-class="poolroom.status?('label-'+poolroom.status):''">{{poolroom.status}}</div>
                                </td>
                                <td class="text-center" ng-style="{
                    'width': '150px',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat',
                    'background-position': '50%',
                    'background-image':'url('+poolroom.sponsor.banner+')'}">

                                    <td class="text-center" style="width:250px">
                                        <div class="event-card" ng-init="poolroom.openActions = false">
                                            <div style="width:200px" class="controlls col-xs-12">
                                                <button ladda="loading.leaderboard" data-style="expand-left" ng-click="showLeaderboard(poolroom);" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-sitemap"></i>
                                    </span></button>
                                                <button ng-click="editPool(poolroom)" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
                                                <button ng-click="setDefault(poolroom)" ng-class="poolroom.isdefault?'edit':'minimal'" class=" small-margin col-xs-4 btn"><span class="btn-label"><i class="fa fa fa-file"></i>
                                    </span></button>
                                                <button ng-click="removePool(poolroom)" class="delete col-xs-4 btn btn-danger"><span class="btn-label"><i class="fa fa-trash"></i>
                                    </span></button>
                                            </div>

                                            <!--<div noSwipeClick ng-click="poolroom.openActions = !poolroom.openActions" class="popover-content" ng-class="poolroom.openActions? 'slideLeft': 'slideRight'">
                            Click here
                        </div>-->
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-12 no-padding ">
                        <button ng-click="AddNewPool()" class="col-xs-12 btn btn-lg minimal">Add new Leaderboard</button>
                    </div>
                </div>
                <!-- END LEaderBoards -->

            </uib-tab>
        </uib-tabset>
    </div>
    <!-- END panel tab-->
</div>





<!-- START OF SETUP-->
<div ng-show="NewPool" class="panel panel-default">
    <div class="panel-body text-center col-xs-12 no-padding">

        <div class="col-md-7 ">
            <div class="panel-heading">
                <label>Setup</label>
            </div>
            <fieldset>
                <div class="form-group text-left">
                    <label class="col-sm-2 control-label">Tile</label>
                    <div class="col-sm-10">

                        <multi-lang-text language-object="NewPool.title" default="en"></multi-lang-text>

                    </div>
                    <div class="col-xs-12"></div>
                    <label class="col-sm-2 control-label">Game ID</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="NewPool.gameid" disabled="" class="form-control" />
                    </div>

                    <label class="col-sm-2 control-label">Type</label>
                    <div class="btn-group col-sm-10 bottom-space">
                        <div class="btn-group col-sm-12 no-padding">
                            <label ng-model="NewPool.roomtype" btn-radio="'Season'" class="col-sm-4 btn btn-default">Season</label>
                            <label ng-model="NewPool.roomtype" btn-radio="'Week'" class="col-sm-4 btn btn-default">Week</label>
                            <label ng-model="NewPool.roomtype" btn-radio="'Custom'" class="col-sm-4 btn btn-default">Custom</label>

                        </div>
                    </div>


                    <label class="col-sm-2 control-label">TimeSpan</label>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" placeholder="Ends" name="date" datepicker-popup="{{format}}" ng-model="NewPool.starts" is-open="opened['starts']"
                                datepicker-options="dateOptions" ng-disabled="NewPool.gameid?true:false" close-text="Close" class="form-control"
                            />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="NewPool.gameid?true:false" ng-click="open($event,'starts')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" placeholder="Ends" name="date" datepicker-popup="{{format}}" ng-model="NewPool.ends" is-open="opened['ends']"
                                datepicker-options="dateOptions" ng-disabled="NewPool.gameid?true:false" close-text="Close" class="form-control"
                            />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="NewPool.gameid?true:false" ng-click="open($event,'ends')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </p>
                    </div>


                    <label class="col-sm-2 control-label">Countries</label>
                    <div class="col-sm-10">
                        <ui-select multiple="" ng-model="NewPool.country" theme="bootstrap" ng-disabled="" class="text-left">
                            <ui-select-match placeholder="Leave empty for everyone">{{$item.code}}</ui-select-match>
                            <ui-select-choices repeat="country.code as country in countries | filter: $select.search">
                                <span ng-bind-html="country.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <label class="col-sm-2 control-label">Sponsor</label>
                    <div class="col-sm-10">

                        <span class="input-group col-sm-12">
                            <ui-select ng-model="NewPool.sponsor" allow-single-deselect="true" theme="bootstrap" class="text-left">
                                <ui-select-match placeholder="Select sponsor from the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="sponsor in sponsors | filter: $select.search">
                                    <span ng-bind-html="sponsor.name | highlight: $select.search"></span>
                        </ui-select-choices>
                        </ui-select>
                        <span ng-show="NewPool.sponsor" class="input-group-btn">
                             <button  type="button" ng-click="NewPool.sponsor = null" class="btn btn-default">Clear</button>
                            </span>
                        </span>

                        <div class="col-xs-12" ng-style="NewPool.sponsor?{                       
                                'height': '75px',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+NewPool.sponsor.banner+')'}:''">
                        </div>
                        <div class="text-center">
                            <label> {{NewPool.sponsor.name}}</label>
                        </div>
                    </div>
                    <!--<label class="col-lg-2 control-label">Disabled</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Disabled input here..." disabled="" class="form-control" />
                    </div>-->
                </div>
            </fieldset>
        </div>

        <div class="col-md-5">
            <div class="panel-heading">
                <label>Prizes</label>
            </div>
            <div class="col-xs-12 no-padding">
                <span class="input-group col-xs-12 no-padding">
                    <ui-select ng-model="vm.selectedPrize" theme="bootstrap" ng-disabled="" class="text-left">
                        <ui-select-match placeholder="Search prizes">{{$select.selected.name.en}}</ui-select-match>
                        <ui-select-choices repeat="prize in prizes | filter: $select.search">
                            <span ng-bind-html="prize.name.en | highlight: $select.search"></span>
                </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                        <button type="button"  ng-click="addPrize(vm.selectedPrize, NewPool)" class="btn btn-default">Add</button>
                    </span>
                </span>
            </div>
            <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallbackNew" ng-model="NewPool.prizes" class="">
                <li ng-repeat="prize in NewPool.prizes track by $index" class="list-group-item no-padding">
                    <div class="col-xs-12 no-padding form-inline" style="background-color: #EDF1F2;">

                        <div class="form-group col-xs-12 no-padding" ng-show="editPrizePos == prizePositions[$index]">
                            <div class="col-xs-2">
                                <label>Position<span ng-show="prizePositions[$index].to - prizePositions[$index].from > 0">s</span></label>
                            </div>
                            <div class="col-xs-6">
                                <input class="input-sm form-control" style="max-width:80px" type="number" ng-model="prizePositions[$index].from">
                                <input class="input-sm form-control" style="max-width:80px" type="number" ng-model="prizePositions[$index].to">
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="editPrizePos = null; updatePrizePositions(NewPool, prizePositions)" class="col-xs-6 btn btn-sm minimal">Ok</button>
                                <button ng-click="removePrize(NewPool,prize)" class="delete col-xs-6 btn btn-sm btn-danger">Del</button>
                            </div>
                        </div>

                        <div ng-hide="editPrizePos == prizePositions[$index]">
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && NewPool.prizes.length > 1">
                                Positions from {{prizePositions[$index].from}} to {{prizePositions[$index].to}}
                            </div>
                            <div ng-show="prizePositions[$index].from == prizePositions[$index].to ">
                                Position {{prizePositions[$index].from}}
                            </div>
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && NewPool.prizes.length == 1">
                                Top {{prizePositions[$index].to}} positions
                            </div>
                            <button ng-click="editPrizePos = prizePositions[$index]" class="btn pull-left" style="background: none; border: none; box-shadow: none; position: absolute; top: -5px; right: -13px;"><i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    <table width="100%">
                        <tr>

                            <td class="col-xs-2 no-padding">
                                <div ng-style="{                       
                                'height': '50px',
                                'width': '100%',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+prize.picture+')'}">

                                </div>
                            </td>
                            <td class="col-xs-9">{{prize.text.en}}</td>
                            <td class="col-xs-1">
                                <div><em class="fa fa-reorder fa-fw text-muted mr-lg"></em></div>
                            </td>
                            <tr>
                    </table>
                </li>
            </ul>


        </div>
    </div>
    <div class="panel-footer">
        <button ng-click="CreateLeaderboard(NewPool)" style="margin-right: 10px;" class="col-md-4 col-md-offset-3 btn btn-primary btn-lg ">Create Leaderboard</button>
        <button ng-click="RemoveNewPool()" class="col-md-2 btn btn-lg minimal">Cancel</button>
    </div>
</div>
<!-- END OF SETUP -->


<!-- START OF SETUP-->
<div ng-show="EditPool" class="panel panel-default">
    <div class="panel-body text-center col-xs-12 no-padding">

        <div class="col-md-7 ">
            <div class="panel-heading">
                <label>Setup</label>
            </div>
            <fieldset>
                <div class="form-group text-left">
                    <label class="col-sm-2 control-label">Tile</label>
                    <div class="col-sm-10">
                        <multi-lang-text language-object="EditPool.title" default="en"></multi-lang-text>
                    </div>
                    <div class="col-xs-12"></div>
                    <label class="col-sm-2 control-label">Game ID</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="EditPool.gameid" disabled="" class="form-control" />
                    </div>

                    <label class="col-sm-2 control-label">Type</label>
                    <div class="btn-group col-sm-10 bottom-space">
                        <div class="btn-group col-sm-12 no-padding">
                            <label ng-model="EditPool.roomtype" btn-radio="'Season'" class="col-sm-4 btn btn-default">Season</label>
                            <label ng-model="EditPool.roomtype" btn-radio="'Week'" class="col-sm-4 btn btn-default">Week</label>
                            <label ng-model="EditPool.roomtype" btn-radio="'Custom'" class="col-sm-4 btn btn-default">Custom</label>

                        </div>
                    </div>

                    <label class="col-sm-2 control-label">TimeSpan</label>
                    <div class="col-sm-5">
                        <span class="input-group">
                            <input type="text" placeholder="Ends" name="date" datepicker-popup="{{format}}" ng-model="EditPool.starts" is-open="opened['starts']" datepicker-options="dateOptions" ng-disabled="EditPool.gameid?true:false" close-text="Close" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="EditPool.gameid?true:false" ng-click="open($event,'starts')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5">
                        <span class="input-group">
                            <input type="text" placeholder="Ends" name="date" datepicker-popup="{{format}}" ng-model="EditPool.ends" is-open="opened['ends']" datepicker-options="dateOptions" ng-disabled="EditPool.gameid?true:false" close-text="Close" class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="EditPool.gameid?true:false" ng-click="open($event,'ends')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </span>
                    </div>

                    <div class="col-sm-12 bottom-space"> </div>
                    <label class="col-sm-2 control-label">Best Scores</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="EditPool.bestscores" placeholder="Number of user's best scores to use" class="form-control"
                        />
                    </div>

                    <div class="col-sm-12 bottom-space"> </div>                   

                    <div class="col-xs-12 no-padding">
                        <label class="col-xs-2 control-label">Competition</label>
                        <p class="input-group pr-lg pl-lg col-xs-10">
                            <ui-select ng-model="EditPool.competition" theme="bootstrap" ng-disabled="" class="text-left">
                                <ui-select-match placeholder="Select Competition"> <img class="ui-select-match-img" alt="$select.selected.name.en" ng-src="{{$select.selected.logo}}">{{$select.selected.name.en}}</ui-select-match>
                                <ui-select-choices repeat="competition._id as competition in competitions | filter: $select.search">
                                    <img class="ui-select-match-img" alt='{{competition.logo}}' ng-src='{{competition.logo}}'>
                                    <span ng-bind-html="competition.name.en | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                        <button type="button"  ng-click="EditPool.competition = null" class="btn btn-default"><i class="fa fa-trash"></i></button>
                    </span>
                        </p>
                    </div>

                    <label class="col-sm-2 control-label">Countries</label>
                    <div class="col-sm-10">
                        <ui-select multiple="" ng-model="EditPool.country" theme="bootstrap" ng-disabled="" class="text-left">
                            <ui-select-match placeholder="&nbsp;Leave empty for everyone">{{$item.code}}</ui-select-match>
                            <ui-select-choices repeat="country.code as country in countries | filter: $select.search">
                                <span ng-bind-html="country.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <label class="col-sm-2 control-label">Sponsor</label>
                    <div class="col-sm-10">
                        <span class="input-group col-sm-12">
                            <ui-select ng-model="EditPool.sponsor" allow-single-deselect="true" theme="bootstrap" class="text-left">
                                <ui-select-match placeholder="Select sponsor from the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="sponsor in sponsors | filter: $select.search">
                                    <span ng-bind-html="sponsor.name | highlight: $select.search"></span>
                        </ui-select-choices>
                        </ui-select>
                        <span ng-show="EditPool.sponsor" class="input-group-btn">
                             <button  type="button" ng-click="EditPool.sponsor = null" class="btn btn-default">Clear</button>
                            </span>
                        </span>


                        <div class="col-xs-12" ng-style="EditPool.sponsor?{                       
                                'height': '75px',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+EditPool.sponsor.banner+')'}:''">
                        </div>
                        <div class="text-center">
                            <label> {{EditPool.sponsor.name}}</label>
                        </div>
                    </div>
                    <!--<label class="col-lg-2 control-label">Disabled</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Disabled input here..." disabled="" class="form-control" />
                    </div>-->
                </div>
            </fieldset>
        </div>

        <div class="col-md-5">
            <div class="panel-heading">
                <label>Prizes</label>
            </div>
            <div class="col-xs-12 no-padding">
                <p class="input-group col-xs-12 no-padding">
                    <ui-select ng-model="vm.selectedPrize" theme="bootstrap" ng-disabled="" class="text-left">
                        <ui-select-match placeholder="Search prizes">{{$select.selected.name.en}}</ui-select-match>
                        <ui-select-choices repeat="prize in prizes | filter: $select.search">
                            <span ng-bind-html="prize.name.en | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button"  ng-click="addPrize(vm.selectedPrize,EditPool)" class="btn btn-default">Add</button>
                    </span>
                </p>
            </div>

            <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallbackEdit" ng-model="EditPool.prizes" class="">
                <li ng-repeat="prize in EditPool.prizes track by $index" class="list-group-item no-padding">
                    <div class="col-xs-12 no-padding form-inline" style="background-color: #EDF1F2;">

                        <div class="form-group col-xs-12 no-padding" ng-show="editPrizePos == prizePositions[$index]">
                            <div class="col-xs-2">
                                <label>Position<span ng-show="prizePositions[$index].to - prizePositions[$index].from > 0">s</span></label>
                            </div>
                            <div class="col-xs-6">
                                <input class="input-sm form-control" style="max-width:80px" type="number" ng-model="prizePositions[$index].from">
                                <input class="input-sm form-control" style="max-width:80px" type="number" ng-model="prizePositions[$index].to">
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="editPrizePos = null; updatePrizePositions(EditPool, prizePositions)" class="col-xs-6 btn btn-sm minimal">Ok</button>
                                <button ng-click="removePrize(EditPool,prize)" class="delete col-xs-6 btn btn-sm btn-danger">Del</button>
                            </div>
                        </div>

                        <div ng-hide="editPrizePos == prizePositions[$index]">
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && EditPool.prizes.length > 1">
                                Positions from {{prizePositions[$index].from}} to {{prizePositions[$index].to}}
                            </div>
                            <div ng-show="prizePositions[$index].from == prizePositions[$index].to ">
                                Position {{prizePositions[$index].from}}
                            </div>
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && EditPool.prizes.length == 1">
                                Top {{prizePositions[$index].to}} positions
                            </div>
                            <button ng-click="editPrizePos = prizePositions[$index]" class="btn pull-left" style="background: none; border: none; box-shadow: none; position: absolute; top: -5px; right: -13px;"><i class="fa fa-edit"></i></button>

                        </div>
                    </div>
                    <table width="100%">
                        <tr>

                            <td class="col-xs-2 no-padding">
                                <div ng-style="{                       
                                'height': '50px',
                                'width': '100%',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+prize.picture+')'}">

                                </div>
                            </td>
                            <td class="col-xs-9">{{prize.text.en}}</td>
                            <td class="col-xs-1">
                                <div><em class="fa fa-reorder fa-fw text-muted mr-lg"></em></div>
                            </td>
                            <tr>
                    </table>
                </li>
            </ul>


        </div>
    </div>
    <div class="panel-footer clearfix">
        <button ng-click="UpdateLeaderboard(EditPool)" style="margin-right: 10px;" class="col-md-4 col-md-offset-3 btn btn-primary btn-lg ">Update Leaderboard</button>
        <button ng-click="RemoveEditPool()" class="col-md-2 btn btn-lg minimal">Cancel</button>
    </div>
</div>
<!-- END OF SETUP -->