<div ng-show="gridOptions.rowData" class="container-fluid">
    <div class="clearfix no-padding">
        <button class="col-xs-12 btn btn-lg minimal"><strong>{{selectedPool.title.en}}</strong></button>
    </div>
    <div angular-grid="gridOptions" style="width: 100%; height: 400px;" class="ag-angle"></div>
    <div class="col-xs-12 no-padding ">
        <button ng-click="gridOptions.rowData = null; gridOptions.api.onNewRows();" class="col-xs-6 btn btn-lg minimal">Close Leaderboard</button>
        <button ladda="loading.leaderboard"  data-style="expand-left" data-spinner-color="#99999" ng-click="showLeaderboard(selectedPool)" class="ladda-button col-xs-6 btn btn-lg minimal">Reload Leaderboard</button>
    </div>
</div>


<div ng-show="MassUpdateObjects.length > 0" class="events-self ">
    <div class="events-self panel">
        <div class="panel-heading">
            <h4>Mass Update</h4>
        </div>
        <div class="moving-self panel-body">
            <div class="row">

                <div class="col-xs-12">

                    <form role="form">

                        <div class="form-group">
                            <label>Club Crest</label>
                            <input type="text " class="form-control " ng-model="MassUpdateChanges.logo" />
                            <label>League</label>
                            <input type="text " class="form-control " ng-model="MassUpdateChanges.league" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer ">
            <button type="button" ng-click="massUpdate()" class="btn btn-lg btn-success pull-right">Update</button>
        </div>
    </div>
</div>

 
 
<div ng-show="view.editItem == 1" class="events-self ">
    <div class="events-self panel">
        <div class="panel-heading">
            <h4>Team editor</h4>
        </div>
          
        <div class="moving-self panel-body">
            <div class="row">
                <!--SATRT of Logo -->
                <div style="" class="match-logos col-xs-12 col-sm-3 col-md-2">
                    <div class="event-team-logo">
                        <h5>Drop player pic here</h5>
                        <div ngf-drop="uploadFile($file, selectedItem)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                            <img class="moving-self-img" ng-src="{{selectedItem.pic}}" />
                            <p>
                                <label>{{selectedItem.name_en}}</label>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END of Logo -->
                <div class="col-xs-12  col-sm-9 col-md-10">

                    <form role="form">
                        <div class="form-group">
                            <label>Club Name</label>
                            <multi-lang-text language-object="selectedItem.name" default="en"></multi-lang-text>    
                            <label>Club Crest</label>
                            <input type="text " class="form-control " ng-model="selectedItem.logo" />
                            <label>League</label>
                            <input type="text " class="form-control " ng-model="selectedItem.league" />
                            <label>Players</label>
                            <button ladda="view.loadingPlayers == 1" data-spinner-color="#000000" data-style="zoom-in" ng-click="LoadPlayers(selectedItem)"
                            ng-show="!selectedItem.playersLoaded" class="col-xs-12 btn btn-primary">Load Players</button>
                            <div ng-show="selectedItem.playersLoaded">

                                <!-- START OF Players Table -->
                                <div class="panel col-xs-12 no-padding">
                                    <table width="100%"  class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <!--<th>Pic</th>-->
                                                <th>Name</th>
                                                <th>Position</th>
                                                <!--<th>ID</th>-->
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="player in selectedTeam.players">
                                                <!--<td>
                                                    <div class="center ">
                                                        <img ng-click="searchFor(player.name.en);" ng-src="http://ep7t6ae.cloudimg.io/s/height/50/{{player.pic}}">
                                                    </div>
                                                </td>-->
                                                <td>{{player.name.en}}</td>
                                                <td>{{player.position}}</td>
                                                <!--<td><small>{{ player._id }}</small></td>-->
                                                <td align="center ">
                                                    <div dropdown="dropdown2 " class="text-center btn-group ">
                                                        <i ng-click="editItem(item); " class="fa fa-edit "></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-footer" style="overflow: visible; padding-bottom: 43px; background-color: white;">
                                        <!-- START OF Add New Player -->
                                <div>
                                    <div class="col-xs-10" style="padding-left:0">
                                        <select chosen disable-search="false" data-placeholder="Add new player" allow-single-deselect="true" ng-model="selectedItem.selectedPlayer"
                                        ng-options="option.name.en for option in Players" class="form-control chosen-select">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <button ng-click="pushPlayer(selectedItem.selectedPlayer)" class="col-xs-2 btn btn-default">Add</button>
                                </div>
                                <!-- END OF Add New Player -->
                                    </div>
                                </div>
                                <!-- END OF Players Table -->
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer ">
            <button type="button " ng-click="view.editItem = 0" style="margin-left: 5px;" class="btn btn-lg btn-default pull-right">Cancel</button>
            <button type="button" ng-click="updateItem()" class="btn btn-lg btn-success pull-right">Update</button>
        </div>
    </div>
</div>




<div class="panel panel-default ">
    <div class="panel-heading ">
        <button ng-click="drawer=1" type="button " class="mb-sm btn btn-default pull-right" style="margin-left:5px"><strong>Add</strong></button>
        <button ng-click="view.massUpdate = !view.massUpdate" type="button " style="margin-left:5px" class="mb-sm btn btn-default pull-right "><strong>Mass Update</strong></button>
        <button ng-show="view.massUpdate && !allSelected" ng-click="selectAll()" type="button" class="mb-sm btn btn-success pull-right"><strong>All</strong></button>
        <button ng-show="view.massUpdate && allSelected" ng-click="selectNone()" type="button" class="mb-sm btn btn-danger pull-right"><strong>None</strong></button>
    </div>
    <div class="panel-body ">

        <div>
            <table datatable="ng" dt-instance="dtInstance" class="row-border hover ">
                <thead>
                    <tr>
                        <th ng-show="view.massUpdate"></th>
                        <th>Pic</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>ID</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Players">

                        <td ng-show="view.massUpdate">
                            <div class="checkbox c-checkbox needsclick">
                                <label class="needsclick">
                                    <input ng-checked="item.isSelected" ng-click="pushMassUpdate($event, item)" type="checkbox" required="" name="checkbox" ng-model="checkbox"
                                    class="needsclick" />
                                    <span class="fa fa-check">
                           </div>
                        </td>
                        <td>
                            <div class="center ">
                                <img ng-click="searchFor(Getlang(item.name.en)); editItem(item);" ng-src="http://ep7t6ae.cloudimg.io/s/height/50/{{item.pic}}">
                            </div>
                        </td>
                        <td><strong>{{ item.name.en }}</strong></td>
                        <td>{{ getTeam(item.team).name.en}}</td>
                        <td><small>{{ item._id }}</small></td>
                        <td align="center ">
                            <!-- START button group-->
                            <div dropdown="dropdown2 " class="text-center btn-group ">
                                <!--                 <span on-toggle="toggled(open) " class="dropdown "><a href="
                                            " dropdown-toggle=" "><i class="fa fa-cog "></i></a>-->
                                <!--                                            <button type="button
                                            " dropdown-toggle=" " class="btn btn-default btn-sm ">-->
                                <i ng-click="editItem(item); " class="fa fa-edit "></i>
                                <!--                                            </button>-->
                                <!--
                                            <ul role="menu " class="dropdown-menu fadeInUpShort animated ">
                                                <li><a href="# " ng-click="ModerateMatch(event._id,event.sport); ">Moderate</a>
                                                </li>
                                                <li><a href=" " ng-click="EditMatch(event); ">Edit</a>
                                                </li>
                                            </ul>
-->
                            </div>
                            <!-- END button group-->

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>