<!-- SEARCH -->
<div class="panel">
    <!--<div class="panel-heading"></div>-->
    <div class="panel-body" style="padding: 15px 0 0 0;">
        <div class="form-group col-xs-12">
            <div class="col-md-8">
                <div class="input-group">
                    <input ng-model="filterOptions.filterText" placeholder="Search teams..." type="text" class="form-control"><span class="input-group-btn"><button type="button" class="btn btn btn-default"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-4">
                <btn ladda="view.busy" data-spinner-color="#000" data-style="zoom-in" ng-click="createNew()" class="col-xs-12 btn btn-default">Add new team</btn>
            </div>
        </div>
    </div>
</div>
<!-- END OF SEARCH -->
<!--<button ng-init="flow = false" style="float:left" ng-click="flow = !flow">reflow</button>-->


<div  ng-show="selectedItem || newItem" style="padding-left:0">
    <!-- START OF EDIT PANEL -->
    <team-edit ng-model="selectedItem" onUpdate="" onCreate="" type="edit" reload="reload" loader="view.selectedLoading" leagues="leagues"> </team-edit>
    <!-- END OF EDIT PANEL -->

    <!-- START OF CREATE PANEL -->
    <team-edit ng-model="newItem" onUpdate="" onCreate="" type="create"  reload="createdReload" loader="view.createdLoading" leagues="leagues"> </team-edit>
    <!-- END OF CREATE PANEL -->
</div>

<div  ng-hide="selectedItem || newItem">
    <div>
        <div style="height:600px" ui-grid="gridOptions" ui-grid-selection class="table-uigrid"></div>
    </div>
</div>

