<div ng-show="!PoolRooms && !NewPool" class="col-xs-12 card ">
    <div class="card-heading"></div>
    <div class="card-body text-center">
        There is no active prize list. Create a prize list first.
        <br/>
        <br/>
        <button ng-click="CreatePoolRoom = 1" class="btn btn-success">CREATE</button>
    </div>
    <div class="card-footer"></div>
</div>


<!-- START LeaderBoards -->
<div ng-show="!NewPool" class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Leaderboard</th>
                <th class="text-center">Visible In</th>
                <th class="text-center">Status</th>
                <th class="text-center">Sponsor</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="poolroom in PoolRooms">
                <td>
                    {{poolroom.title.en}}
                    <span ng-show="poolroom.isdefault"><label> [Default] </label></span>
                </td>
                <td class="text-center">
                    <!--ng-class="poolroom.isdefault?'td-isdefault':''"-->
                    <div ng-show="poolroom.country == null || poolroom.country.length == 0">
                        <label>Everywhere</label>
                    </div>
                    <div ng-show="!poolroom.isdefault">
                        <span ng-repeat="country in poolroom.country">{{country+' &nbsp;'}}</span>
                    </div>
                    <!--<sparkline data-bar-color="{{colorByName('primary')}}" data-height="20" data-bar-width="5" data-bar-spacing="2" values="1,4,4,7,5,9,10" data-resize="true"></sparkline>-->
                </td>
                <td class="text-center">
                    <div class="label" ng-class="poolroom.status?('label-'+poolroom.status):''">{{poolroom.status}}</div>
                </td>
                <td class="text-center" ng-style="{
                    'max-width': '150px',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat',
                    'background-position': '50%',
                    'background-image':'url('+poolroom.sponsor.banner+')'}">

                </td>
                <td class="text-center">
                    <div class="event-card" ng-init="poolroom.openActions = false">
                        <div ng-show="poolroom.openActions" class="controlls col-xs-12">
                            <button ng-click="editEvent(event)" class="edit col-xs-6 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
                            <button ng-click="removeEvent(event)" class="delete col-xs-6 btn btn-danger"><span class="btn-label"><i class="fa fa-trash"></i>
                                    </span></button>
                        </div>

                        <div noSwipeClick ng-click="poolroom.openActions = !poolroom.openActions" class="popover-content" ng-class="poolroom.openActions? 'slideLeft': 'slideRight'">
                            Click here
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-xs-12 no-padding ">
        <button ng-click="AddNewPool()" class="col-xs-12 btn btn-lg minimal">Add new Leaderboard</button>
    </div>
</div>
<!-- END LEaderBoards -->


<!-- START OF SETUP-->
<div ng-show="NewPool" class="col-xs-12 card">
    <div class="card-body text-center col-xs-12 no-padding">

        <div class="col-md-7 ">
            <div class="panel-heading">
                <label>Setup</label>
            </div>
            <fieldset>
                <div class="form-group text-left">
                    <label class="col-sm-2 control-label">Tile</label>
                    <div class="col-sm-10">
                        <multi-lang-text language-object="NewPool.title" default="en"></multi-lang-text>
                    </div>
                    <div class="col-xs-12"></div>
                    <label class="col-sm-2 control-label">Game ID</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="NewPool.gameid" disabled="" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">TimeSpan</label>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" placeholder="Starts" name="date" datepicker-popup="{{format}}" ng-model="starts" is-open="opened['stars']"
                            datepicker-options="dateOptions" ng-disabled="NewPool.gameid?true:false" close-text="Close" class="form-control"
                            />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="NewPool.gameid?true:false" ng-click="open($event,'starts')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p class="input-group">
                            <input type="text" placeholder="Ends" name="date" datepicker-popup="{{format}}" ng-model="NewPool.ends" is-open="opened['ends']"
                            datepicker-options="dateOptions" ng-disabled="NewPool.gameid?true:false" close-text="Close" class="form-control"
                            />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="NewPool.gameid?true:false" ng-click="open($event,'ends')" class="btn btn-default"><em class="fa fa-calendar"></em></button>
                            </span>
                        </p>
                    </div>
                    <label class="col-sm-2 control-label">Countries</label>
                    <div class="col-sm-10">
                        <ui-select multiple="" ng-model="NewPool.country" theme="bootstrap" ng-disabled="" class="text-left">
                        <ui-select-match placeholder="Leave empty for everyone">{{$item.code}}</ui-select-match>
                        <ui-select-choices repeat="country.code as country in countries | filter: $select.search">
                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                        </ui-select-choices>
                        </ui-select>
                    </div>
                    <label class="col-sm-2 control-label">Sponsor</label>
                    <div class="col-sm-10">

                        <ui-select ng-model="NewPool.sponsor" theme="bootstrap" ng-disabled="uisel.disabled" class="text-left">
                            <ui-select-match placeholder="Select sponsor from the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="sponsor in sponsors | filter: $select.search">
                                <span ng-bind-html="sponsor.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                        <div class="col-xs-12" ng-style="NewPool.sponsor?{                       
                                'height': '75px',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+NewPool.sponsor.banner+')'}:''">
                        </div>
                        <div class="text-center">
                            <label> {{NewPool.sponsor.name}}</label>
                        </div>
                    </div>
                    <!--<label class="col-lg-2 control-label">Disabled</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Disabled input here..." disabled="" class="form-control" />
                    </div>-->
                </div>
            </fieldset>
        </div>

        <div class="col-md-5">
            <div class="panel-heading">
                <label>Prizes</label>
            </div>

            <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallback" ng-model="NewPool.prizes" class="">
                <li ng-repeat="prize in NewPool.prizes track by $index" class="list-group-item no-padding">
                    <div class="col-xs-12 no-padding" style="background-color: #EDF1F2;">
                        <div class="form-inline" ng-show="editPrizePos == prizePositions[$index]">
                            <label>Position<span ng-show="prizePositions[$index].to - prizePositions[$index].from > 0">s</span></label>
                            <input class="input-sm form-control" type="number" ng-model="prizePositions[$index].from">
                            <input class="input-sm form-control" type="number" ng-model="prizePositions[$index].to">
                            <button ng-click="editPrizePos = null; updatePrizePositions(NewPool, prizePositions)" class="btn btn-sm btn-success">Ok</button>
                        </div>
                        <div ng-hide="editPrizePos == prizePositions[$index]">
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && NewPool.prizes.length > 1">
                                Positions from {{prizePositions[$index].from}} to {{prizePositions[$index].to}}
                            </div>
                            <div ng-show="prizePositions[$index].from == prizePositions[$index].to ">
                                Position {{prizePositions[$index].from}}
                            </div>
                            <div ng-show="prizePositions[$index].from != prizePositions[$index].to && NewPool.prizes.length == 1">
                                Top {{prizePositions[$index].to}} positions
                            </div>
                            <button ng-click="editPrizePos = prizePositions[$index]" class="btn pull-left" style="background: none; border: none; box-shadow: none; position: absolute; top: -5px; right: -13px;"><i class="fa fa-edit"></i></button>
                        </div>
                    </div>
                    <table width="100%">
                        <tr>

                            <td class="col-xs-2 no-padding">
                                <div ng-style="{                       
                                'height': '50px',
                                'width': '100%',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+prize.picture+')'}">

                                </div>
                            </td>
                            <td class="col-xs-9">{{prize.text.en}}</td>
                            <td class="col-xs-1">
                                <div><em class="fa fa-reorder fa-fw text-muted mr-lg"></em></div>
                            </td>
                            <tr>
                    </table>
                </li>
            </ul>

            <div class="col-xs-12">
                <p class="input-group">
                    <ui-select ng-model="modCtrl.selectedPrize" theme="bootstrap" ng-disabled="" class="text-left">
                        <ui-select-match placeholder="Search prizes">{{$select.selected.name.en}}</ui-select-match>
                        <ui-select-choices repeat="prize in prizes | filter: $select.search">
                            <span ng-bind-html="prize.name.en | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button"  ng-click="addPrize(modCtrl.selectedPrize,NewPool)" class="btn btn-default">Add</button>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 card-footer">
         <button ng-click="CreateLeaderboard(NewPool)" style="margin-right: 10px;" class="col-md-4 col-md-offset-3 btn btn-primary btn-lg ">Create Leaderboard</button> 
         <button ng-click="RemoveNewPool()" class="col-md-2 btn btn-lg minimal">Cancel</button>
    </div>
    <!-- END OF SETUP -->
</div>