<!-- START EDITOR -->
<!-- START OF SETUP-->
<div ng-show="SelectedPoll" class="col-xs-12 card">
    <div class="card-body text-center col-xs-12 no-padding">

        <div class="col-md-7 ">
            <div class="panel-heading">
                <label>Setup</label>
            </div>
            <fieldset>
                <div class="form-group text-left">
                    <!--<label class="col-sm-2 control-label">Favorites</label>
                    <div class="col-xs-10" style="margin-bottom: 15px;">
                        <span class="input-group col-xs-12 no-padding">
                        <ui-select ng-model="modCtrl.selectedSaved" theme="bootstrap" ng-disabled="" class="text-left">
                        <ui-select-match placeholder="Pick one of your stored favorite questions">{{$select.selected.text.en}}</ui-select-match>
                        <ui-select-choices repeat="savedQuestion in parsedFavoriteQuestions | filter: $select.search">
                            <span ng-bind-html="savedQuestion.text.en | highlight: $select.search"></span>
                        </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                          
                        <button type="button"  ng-click="setSavedQuestion(modCtrl.selectedSaved)" class="btn btn-default">Set</button>
                        </span>
                        </span>
                         
                    </div>-->

                    <label class="col-sm-2 control-label">Question</label>
                    <div class="col-sm-10">
                        <multi-lang-text-area language-object="SelectedPoll.text" default="en"></multi-lang-text-area>
                    </div>
                    <label class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <ui-select multiple="" on-select="onAddPollTag(SelectedPoll,$item,$model)" ng-model="SelectedPoll.tags" theme="bootstrap"
                            ng-disabled="uisel.disabled">
                            <ui-select-match placeholder="Select  tags">{{$item.name.en}}</ui-select-match>
                            <ui-select-choices group-by="'type'" repeat="tag as tag in matchTags | filter: $select.search">
                                <div ng-bind-html="tag.name.en | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <label class="col-sm-2 control-label">Match ID</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="SelectedPoll.matchid" disabled="" class="form-control" />
                    </div>

                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 text-center">
                        <img ng-if="SelectedPoll.img" ng-src="{{SelectedPoll.img}}" class="media-box-object img-responsive img-rounded" />
                    </div>
                    <label class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <image-upload folder="{{'questions/'+SelectedPoll._id}}" should-update="true" search="false" filename="SelectedPoll._id"
                            ng-model="SelectedPoll" pic-key="img"></image-upload>

                        <!-- ERASER Input Group-->
                        <div class="col-xs-12 p0">
                            <p class="input-group">
                                <input class="col-sm-12 form-control" type="text" placeholder="Image url" ng-model="SelectedPoll.img" />
                                <span class="input-group-btn">
                                <button type="button" ng-click="SelectedPoll.img = null;" class="btn btn-default"><em class="fa fa-eraser"></em></button>
                            </span>
                            </p>
                        </div>
                        <!-- End of ERASER Input Group-->
                    </div>

                    <div class="col-xs-12"></div>

                    <label class="col-sm-2 control-label">Sponsor</label>
                    <div class="col-sm-10">

                        <span class="input-group col-sm-12">
                            <ui-select ng-model="SelectedPoll.sponsor" allow-single-deselect="true" theme="bootstrap" class="text-left">
                                <ui-select-match placeholder="Select sponsor from the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="sponsor in sponsors | filter: $select.search">
                                    <span ng-bind-html="sponsor.name | highlight: $select.search"></span>
                        </ui-select-choices>
                        </ui-select>
                        <span ng-show="SelectedPoll.sponsor" class="input-group-btn">
                             <button  type="button" ng-click="SelectedPoll.sponsor = null" class="btn btn-default">Clear</button>
                            </span>
                        </span>

                        <div class="col-xs-12" ng-style="SelectedPoll.sponsor?{                       
                                'height': '75px',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                'background-image':'url('+SelectedPoll.sponsor.banner+')'}:''">
                        </div>
                        <div class="text-center">
                            <label> {{SelectedPoll.sponsor.name}}</label>
                        </div>
                    </div>
                    <!--<label class="col-lg-2 control-label">Disabled</label>
                    <div class="col-lg-10">
                        <input type="text" placeholder="Disabled input here..." disabled="" class="form-control" />
                    </div>-->
                </div>
            </fieldset>
        </div>

        <div class="col-md-5">
            <div class="panel-heading">
                <label>Answers</label>
                <button type="button" ng-click="addPollAnswer()" class="pull-right btn btn-default">Add</button>
            </div>
            <!--<div class="col-xs-12 no-padding">
                <span>
                  <button type="button" ng-click="addAnswer()" class="btn btn-default">Add</button>
                </span>
            </div>-->

            <ul>
                <li ng-repeat="answer in SelectedPoll.answers track by $index" class="list-group-item mv p0">
                    <table width="100%">
                        <tr>
                            <td class="ph pv" style="width:100px;">
                                <div ng-style="{                       
                                'height': '50px',
                                'width': '100%',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50% 0',
                                'background-image':'url('+answer.img+')'}">
                                </div>
                                <image-upload folder="{{'questions/'+Question._id+'/'+answer._id}}" search="false" filename="answer._id" ng-model="answer"
                                    pic-key="img"></image-upload>
                            </td>
                            <td class="pv">
                                <!--<input placeholder="The id when saved" type="text" ng-model="answer._id" disabled="" class="form-control" />-->
                                <multi-lang-text language-object="answer.text" default="en"></multi-lang-text>
                                <!-- ERASER Input Group-->
                    
                        <ui-select on-select="onImageFromTag(answer,$item,$model)" ng-model="nothing" theme="bootstrap"
                            ng-disabled="uisel.disabled">
                            <ui-select-match placeholder="Select image from tag">{{$select.selected.name.en}}</ui-select-match>
                            <ui-select-choices group-by="'type'" repeat="tag as tag in matchTags | filter: $select.search">
                                <div ng-bind-html="tag.name.en | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    
                                <p class="input-group">
                                    <input class="col-sm-12 form-control" type="text" placeholder="image url" ng-model="answer.img" />
                                    <span class="input-group-btn">
                                <button type="button" ng-click="answer.img = null;" class="btn btn-default"><em class="fa fa-eraser"></em></button>
                            </span>
                                </p>

                                <!-- End of ERASER Input Group-->
                                <div class="col-xs-12 p0">
                                    <p class="input-group">
                                        <input class="col-sm-12 form-control" type="text" placeholder="votes" ng-model="answer.votes" />
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><em class="fa fa-comments-o"></em></button>
                            </span>
                                    </p>
                                </div>
                            </td>
                            <td style="width:45px; vertical-align: top;" class="pv ph">
                                <button type="button" ng-click="deletePollAnswer(answer)" class="btn btn-danger minimal"><em class="fa fa-minus-circle"></em></button>
                            </td>
                            <tr>
                    </table>
                </li>
            </ul>


        </div>
    </div>
    <div class="col-xs-12 card-footer">
        <div ng-show="SelectedPoll._id">
            <!---->
            <button ng-disabled="SelectedPoll.status == 1" ng-click="UpdatePoll(SelectedPoll)" style="margin-right: 10px;" class="col-sm-4 col-sm-offset-2 btn  btn-primary btn-lg ">Update</button>
        </div>
        <div ng-hide="SelectedPoll._id">
            <button ng-click="CreateSendPoll(SelectedPoll)" style="margin-right: 10px;" class="col-sm-4 col-sm-offset-2 btn  btn-primary btn-lg ">Send</button>
        </div>
        <button ng-click="DeletePoll(SelectedPoll)" style="margin-right: 10px;" class="col-sm-2  btn btn-danger delete btn-lg ">Delete</button>
        <button ng-click="cancelEditPoll()" class="col-sm-2 btn btn-lg minimal">Cancel</button>

    </div>
</div>
<!-- END OF SETUP -->
<!-- END EDITOR -->

<!-- START LeaderBoards -->
<div ng-show="!SelectedPoll" class="table-responsive">
    <div class="col-xs-12 no-padding ">
        <button ng-click="addNewPoll()" class="col-xs-12 btn btn-lg minimal">Add a new Poll</button>
    </div>

    <div class="input-group col-xs-12 no-padding">
        <input ng-model="questionsSearch" placeholder="Search polls..." type="text" class="form-control"><span class="input-group-btn"><button type="button" class="btn btn btn-default"><i class="fa fa-search"></i></button></span>
    </div>

    <div ng-show="true" class="container-fluid">
        <!-- START OF Questions List -->
        <div class="list-group">
            <div ng-repeat="question in polls | filter: questionsSearch" class="list-group-item">
                <table class="wd-wide">
                    <tbody>
                        <tr>
                            <td class="wd-xs">
                                <div ng-show="question.img" class="ph">
                                    <img src="app/img/dummy.png" alt="" class="media-box-object img-responsive img-rounded thumb64" />
                                </div>
                            </td>
                            <td style="min-width: 350px;vertical-align: top;">
                                <div class="ph">
                                    <h4 class="text-muted media-box-heading">Poll {{$index + 1}}</h4>
                                    <span style="font-size: 16px; font-weight: 600; color: #666;">{{question.text.en}}</span>
                                </div>
                            </td>
                            <td class="answers-row">
                                <table>
                                    <tr>
                                        <td class="heading" ng-class="question.correct == answer._id?'correct':''" ng-repeat="answer in question.answers">
                                            <h5 class="">Answer {{$index +1 }}</h5>
                                        </td>
                                    </tr>
                                    <tr ng-if="polls">
                                        <td style="min-width:250px;width: 500px;position:relative;" class="col-xs-12" ng-repeat="answer in question.answers">
                                            <div style="position:relative">
                                               
                                                <div class="col-xs-12 p0 panel panel-highlighted widget ">

                                                    <div class="text-center " style="padding-top: 15px; height:180px; ">
                                                        <canvas doughnutchart=" " options="{ segmentShowStroke: true, segmentStrokeColor: '#fff', segmentStrokeWidth:
            2, percentageInnerCutout: 80, animationSteps: 50, animationEasing: 'easeOutSine', animateRotate: true, animateScale:
            false } " data="answer.pieData" height="130 " responsive="false " width="130 " style="width: 150px; height:200px; "></canvas>
                                                    </div>
                                                </div>
                                                <div class="graph-info text-center ">
                                                     <div class="graph-number">
                                <img ng-if="answer.img" src="{{answer.img}}" alt="Image" class="media-box-object img-circle" style="position: absolute; left: calc(50% - 50px); width: 100px; top: 20%;">
                                {{answer.percent}}%
                                </div>
                                                    <!--<span class="">{{answer.votes}}</span><br/>-->
                                                    <br>
                                                    <span class="graph-text ">{{answer.text.en}}</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:15px; text-align:center" ng-repeat="answer in question.answers">
                                            <div class="col-xs-12 p0" style="    margin-top: -10px;">
                                                <p class="text-center text-muted white">
                                                    {{answer.votes}}<em class="fa fa-users fa-fw mr"></em>
                                                    {{answer.percent}}<em class="fa-percent fa fa-fw"></em>
                                                    </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>


                            </td>
                            <td style="width:60px; text-align:center">
                                <button ng-click="editPoll(question)" class="minimal small-margin btn btn-info" tabindex="0"><span class=""><i class="fa fa-pencil"></i>
                                    </span></button>
                            </td>
                            <!--<td class="wd-sm">
                                <div class="ph">
                                    <progressbar value="80" type="success" class="m0 progress-xs"></progressbar>
                                </div>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END OF Questions List -->
    </div>

    <!--<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Leaderboard</th>
                <th class="text-center">Visible In</th>
                <th class="text-center">Status</th>
                <th class="text-center">Sponsor</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="poolroom in PoolRooms | filter: leaderboardSearch">
                <td>
                    {{poolroom.title.en}}
                    <span ng-show="poolroom.isdefault"><label> [Default] </label></span>
                </td>
                <td class="text-center" style="width:200px">
                    
                    <div ng-show="poolroom.country == null || poolroom.country.length == 0 || poolroom.isdefault">
                        <label>Everywhere</label>
                    </div>
                    <div ng-show="!poolroom.isdefault">
                        <span ng-repeat="country in poolroom.country">{{country+' &nbsp;'}}</span>
                    </div>
                 
                </td>
                <td class="text-center" style="width:100px">
                    <div class="label" ng-class="poolroom.status?('label-'+poolroom.status):''">{{poolroom.status}}</div>
                </td>
                <td class="text-center" ng-style="{
                    'width': '150px',
                    'background-size': 'cover',
                    'background-repeat': 'no-repeat',
                    'background-position': '50%',
                    'background-image':'url('+poolroom.sponsor.banner+')'}">

                </td>
                <td class="text-center" style="width:250px">
                    <div class="event-card" ng-init="poolroom.openActions = false">
                        <div style="width:200px" class="controlls col-xs-12">
                            <button ladda="loading.leaderboard" data-style="expand-left" ng-click="showLeaderboard(poolroom);" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-sitemap"></i>
                                    </span></button>
                            <button ng-click="editPool(poolroom)" class="minimal small-margin col-xs-4 btn btn-info"><span class="btn-label"><i class="fa fa-pencil"></i>
                                    </span></button>
                            <button ng-click="setDefault(poolroom)" ng-class="poolroom.isdefault?'edit':'minimal'" class=" small-margin col-xs-4 btn"><span class="btn-label"><i class="fa fa fa-file"></i>
                                    </span></button>
                            <button ng-click="removePool(poolroom)" class="delete col-xs-4 btn btn-danger"><span class="btn-label"><i class="fa fa-trash"></i>
                                    </span></button>
                        </div>

                      
                    </div>
                </td>
            </tr>
        </tbody>
    </table>-->


</div>
<!-- END LEaderBoards -->