<div class="col-xs-12 mt-lg"></div>
<div class="col-xs-12">
    <!--{{match}}-->
    <!-- START XML Moderation -->
    <div class="panel panel-highlighted">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-xs-6 control-label">Feed Moderation</label>
                <div class="col-xs-6"><label class="switch pull-right"><input type="checkbox"  ng-change="toggleNewModeration(StatsParserData)" ng-model ="match.data.automoderation"
                ng-true-value="true" ng-false-value="false">
          <span></span></label></div>
            </div>
        </div>
        <div ng-show="match.data.moderation[0]" class="panel-body">

            <form name="StatsParserData" novalidate>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Parser</label>
                    <div class="col-xs-10">
                        <ui-select ng-model="match.data.moderation[0].parsername" theme="bootstrap" class="" style="text-align: left">
                            <ui-select-match placeholder="Select parser">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="parser in ['Stats'] | filter: $select.search">
                                <span ng-bind-html="parser | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">ParserID<em tooltip="The ID the parser uses to identify the match." class="fa fa-info-circle fa-fw"></em></label>
                    <div class="col-xs-10 p0" ng-hide="findID">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" ng-model="match.data.moderation[0].parserid" style="">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" ng-click="openFindID()" class="form-control btn btn-default">Find ID</button>
                        </div>
                    </div>
                    <div class="col-xs-10 p0" ng-show="findID">
                        <div class="col-xs-4">
                            <ui-select limit=1 on-select="onStatsCompetition()" reset-search-input="true" ng-model="statsSearch.competition" theme="bootstrap"
                                ng-disabled="event.chooseplayer.disabled">
                                <ui-select-match placeholder="Select Competition">
                                    <img class="ui-select-match-img" alt="$select.selected.name.en" ng-src="{{$select.selected.logo}}">                                    {{$select.selected.name.en}}
                                </ui-select-match>

                                <ui-select-choices repeat="competition._id as competition in competitions | filter: $select.search">
                                    <img class="ui-select-match-img" alt='{{team.logo}}' ng-src='{{competition.logo}}'>
                                    <div ng-bind-html="competition.name.en | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-xs-6">
                            <div ng-hide="StatsUpcomingEvents.length>0">
                                <btn ladda="loadingCompetitions" data-style="zoom-out" class="form-control btn btn-default">First select competition</btn>
                            </div>
                            <div ng-show="StatsUpcomingEvents.length>0">
                                <ui-select limit=1 on-select="OnEventSelection($item)" reset-search-input="true" ng-model="selected" theme="bootstrap" ng-disabled="!statsSearch.competition">
                                    <ui-select-match placeholder="{{statsSearch.message}}">
                                    </ui-select-match>
                                    <ui-select-choices repeat="event in StatsUpcomingEvents | filter: $select.search">
                                        <!--<img class="ui-select-match-img" alt='{{team.logo}}' ng-src='https://res.cloudinary.com/bedbug/image/fetch/h_25/{{team.logo}}'>-->
                                        <strong><span ng-bind-html="event.home_team.name.en | highlight: $select.search"></span> - 
                                        <span ng-bind-html="event.away_team.name.en | highlight: $select.search"></span></strong>
                                        <div>
                                            <muted> {{formDate(event.start,"DD-MMMM-YYYY HH:mm", false)}}</muted>
                                        </div>
                                        <!--<div ng-bind-html="event.start | highlight: $select.search"></div>-->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" ng-click="findID = null" class="form-control btn btn-default">Cancel</button>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12">
                    <hr></hr>
                </div>
                <div class="form-group  col-xs-12 p0">
                    <label class="col-xs-2 control-label">Scheduled by service</label>
                    <div class="col-xs-10 p0">
                        <div class="col-xs-6"><label class="switch"><input type="checkbox" disabled="true" no-validate  ng-model="match.data.moderation[0].scheduled"><span></span>&nbsp;</label></div>
                    </div>
                </div>

                <div class="form-group col-xs-12 p0" ng-show="match.data.moderation[0].scheduled">
                    <label class="col-xs-2 control-label">Feed will be active</label>
                    <div class="col-xs-10 p0" ng-hide="findID">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="match.data.moderation[0].start" style="">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr></hr>
                </div>
                <div class="form-group col-xs-12 p0">
                    <label class="col-xs-2 control-label">Active</label>
                    <div class="col-xs-10 p0">
                        <div class="col-xs-6"><label class="switch"><input type="checkbox"  no-validate ng-change="updateModerationStatus(match.data.moderation[0])" ng-model="match.data.moderation[0].active"><span></span>&nbsp;</label></div>
                    </div>
                </div>
                <div class="btn-group col-xs-12 pb-lg">
                    <button ladda="reloadingServer" data-style="zoom-in" ng-click="loadMatchData(match.id)" type="button" class="moderation btn btn-lg col-sm-6 col-xs-12 btn-default">
                        <em class="fa fa-refresh fa-fw"></em> Reload Match Data <em tooltip-append-to-body=true uib-tooltip="Safe non-destructive operation." class="fa fa-info-circle fa-fw"></em>
                    </button>
                    <button ladda="reloadingServer" data-style="zoom-in" ng-click="reloadMatch(match.id)" type="button" class="moderation btn btn-lg col-sm-6 col-xs-12 btn-warning">
                        <em class="fa fa-refresh fa-fw"></em> Reload Match <em tooltip-append-to-body=true uib-tooltip="Drops the match in memory and re-initiates the match in service." class="fa fa-info-circle fa-fw"></em>
                    </button>
                </div>
            </form>
        </div>
        <div ng-show="StatsParserData.$dirty" class="panel-footer">
            <div class="col-xs-12" style="color:red; text-align:center" ng-show="moderationError">{{moderationError}}</div>
            <div class="col-xs-12">
                <button ladda="view.busy" data-style="zoom-out" type="button" ng-click="UpdateModeration(match.data.moderation[0])" class="form-control btn btn-default edit">Save Changes</button>
            </div>
        </div>
    </div>
    <!-- END XML Moderation -->

    <div class="panel panel-highlighted">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-xs-6 control-label">Match Free User Rules</label>
                <div class="col-xs-6"><label class="switch pull-right"><input type="checkbox" ng-init="showMatchRules = true" ng-model ="showMatchRules" ng-true-value="true" ng-false-value="false">
          <span></span></label></div>
            </div>
        </div>
        <div class="panel-body" ng-show="showMatchRules">
            <div class="list-group mb0">
                <div class="list-group-item col-sm-12">
                    <form name="FormMatchRules" class="form-horizontal col-sm-12" novalidate>
                        <div class="form-group"></div>
                        <div class="form-group bt0">
                            <label class="col-sm-2 control-label" style="text-align: left" uib-tooltip="The segments in which free users can play gamecards.">Card play eligible segments</label>
                            <div class="col-sm-10">
                                <ui-select multiple="" ng-model="match.data.settings.matchRules.freeUserPlaySegments" theme="bootstrap" ng-disabled="" class="text-left">
                                    <ui-select-match placeholder="">{{$item.state}}</ui-select-match>
                                    <ui-select-choices repeat="state.state_id as state in userGameStates | filter: $select.search">
                                        <span ng-bind-html="state.state | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2" style="text-align: left" uib-tooltip="Check true if the free users can play their cards only in a specific time window before and after kick-off.">Play Time Window</label>
                            <div class="col-sm-10">
                                <label class="switch"><input type="checkbox" ng-model="match.data.settings.matchRules.freeUserHasPlayTimeWindow"><span></span>
                        </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="match.data.settings.matchRules.freeUserHasPlayTimeWindow">
                            <label class="control-label col-sm-2 " style="text-align: left" for="email" uib-tooltip="How many minutes before Kick Off can free users play their cards.">  PreGame (min):</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.matchRules.freeUserPregameTimeWindow">
                            </div>
                        </div>
                        <div class="form-group" ng-show="match.data.settings.matchRules.freeUserHasPlayTimeWindow">
                            <label class="control-label col-sm-2 " style="text-align: left" for="email" uib-tooltip="How many minutes after Kick Off can free users play their cards.">   Live game (min):</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.matchRules.freeUserPregameTimeWindow">
                            </div>
                        </div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2 " style="text-align: left" uib-tooltip="Check true if users have extra cap in their playing card limit.">GameCards Cap</label>
                            <div class="col-sm-10">
                                <label class="switch"><input type="checkbox" ng-model="match.data.settings.matchRules.freeUserCardsCap"><span></span>
                        </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="match.data.settings.matchRules.freeUserCardsCap">
                            <label class="control-label col-sm-2 " style="text-align: left" for="pwd">Cap limit:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.matchRules.freeUserCardsLimit">
                            </div>
                        </div>
                        <div class="form-group bt0" ng-show="match.data.settings.matchRules.freeUserCardsCap">
                            <label class="control-label col-sm-2 " style="text-align: left" uib-tooltip="Users can watch ads if enabled to remove the limit cap.">Remove cap by Ads</label>
                            <div class="col-sm-10">
                                <label class="switch"><input type="checkbox" ng-model="match.data.settings.matchRules.freeUserAdsToGetCards"><span></span>
                        </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div ng-show="FormMatchRules.$dirty">
                                <div class="col-xs-12" style="color:red; text-align:center" ng-show="moderationError">{{moderationError}}</div>
                                <div class="col-xs-12">
                                    <button ladda="view.busy" data-style="zoom-out" type="button" ng-click="UpdateMatchSettings()" class="form-control btn btn-primary edit">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- START GameCard Rules -->

    <!-- END XML Moderation -->
    <div class="panel panel-highlighted">
         <div class="panel-heading">
            <div class="form-group">
                <label class="col-xs-6 control-label">GameCards Settings</label>
                <div class="col-xs-6"><label class="switch pull-right"><input type="checkbox" ng-init="showGamecardOptions = true" ng-model ="showGamecardOptions" ng-true-value="true" ng-false-value="false">
          <span></span></label></div>
            </div>
        </div>
        <div class="panel-body"  ng-show="showGamecardOptions">
            <div class="list-group mb0">
                <div class="list-group-item col-sm-12">
                    <form name="ExtraSettings" class="form-horizontal col-sm-12" novalidate>
                        <div class="form-group"></div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2" style="text-align: left">Total available cards:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.gameCards.totalcards">
                            </div>
                        </div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2" style="text-align: left">Total available power-ups:</em></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.gameCards.specials">
                            </div>
                        </div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2" style="text-align: left">Total available Overall cards:</em></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.gameCards.overall">
                            </div>
                        </div>
                        <div class="form-group bt0">
                            <label class="control-label col-sm-2" style="text-align: left">Total available Instant cards:</em></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" ng-model="match.data.settings.gameCards.instant">
                            </div>
                        </div>
                        <div class="form-group">
                            <div ng-show="ExtraSettings.$dirty">
                                <div class="col-xs-12" style="color:red; text-align:center" ng-show="moderationError">{{moderationError}}</div>
                                <div class="col-xs-12">
                                    <button ladda="view.busy" data-style="zoom-out" type="button" ng-click="UpdateMatchSettings()" class="form-control btn btn-primary edit">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- START list group-->
    <div class="panel panel-highlighted">
        <div class="panel-heading"><label class="col-xs-6 control-label">Match Settings</label></div>
        <div class="panel-body">
            <div class="list-group mb0">
                <div class="list-group-item bt0">
                    <label>Destroy on Delete  <em tooltip="Events will be destroyed when deleted. Otherwise they will be marked invisible." class="fa fa-info-circle fa-fw"></em></label>
                    <label class="switch pull-right"><input type="checkbox" disabled ng-model="match.data.settings.destroyOnDelete"><span></span>
                        </label>
                    <div class="">

                    </div>
                </div>
                <div class="list-group-item bt0">
                    <label>Send match push notifications  <em tooltip="In some case we want to do match operations or corrections without push notifications send to clients." class="fa fa-info-circle fa-fw"></em></label>
                    <label class="switch pull-right"><input type="checkbox" ng-model="match.data.settings.sendPushes"><span></span>
                        </label>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>