<div>
    <!-- START Timeline Group-->
    <div class="grid col-xs-12 mt-lg">
        <div>
            <!-- START Create EVENT DRAWER -->


        </div>
        <!-- END Create EVENT DRAWER -->
        <div class="col-xs-12"></div>
        <div class="col-xs-6 panel panel-highlighted">
            <!-- START Update EVENT DRAWER -->
            <div ng-show="eventDrawer == 3" class="events-self ">
                <div class="type-banner-vertical" ng-class="selectedEvent.type">
                    <span>{{selectedEvent.type}}</span>
                </div>
                <div class="events-self panel">
                    <!--<div class="panel-heading"><strong>{{event.time+"'"+" "+event.type}}</strong></div>-->
                    <div class="moving-self panel-body">
                        <div class="row">

                            <div class="match-logos col-sm-4 col-xs-12">
                                <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                    <img class="moving-self-img" ng-click="selectedEvent.team = 'home_team'" ng-style="selectedEvent.team != 'home_team'?{'background-color':'#ccc'}:''"
                                        ng-class="selectedEvent.team != 'home_team'? 'desaturate':'zoom'" ng-src="{{match.data.home_team.logo}}"
                                    />
                                    <br/> {{match.data.home_team.name.en}}
                                </div>
                                <div class="event-team-logo col-xs-6 col-sm-12 col-md-6">
                                    <img class="moving-self-img" ng-click="selectedEvent.team ='away_team'" ng-class="selectedEvent.team != 'away_team'? 'desaturate':'zoom'"
                                        ng-src="{{match.data.away_team.logo}}" />
                                    <br/> {{match.data.away_team.name.en}}
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <!-- For single player events -->
                                <div ng-hide="selectedEvent.playerscount == 2" ng-class="selectedEvent.type+'-text'" class="moving-self-heading">
                                    Event player name:
                                </div>
                                <ui-select ng-hide="selectedEvent.playerscount == 2" limit=1 on-select="checkSelection($item,$model)" multiple reset-search-input="true"
                                    ng-model="selectedEvent.players" theme="bootstrap" ng-disabled="selectedEvent.chooseplayer.disabled">
                                    <ui-select-match placeholder="Select player name"><img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team].logo}}">                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="player in players | filter: (filterTeamPlayers || '') && {team: selectedEvent.team} | propsFilter: {name: $select.search, team: $select.search}">
                                        <img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team].logo}}'>

                                        <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                        <!--<small>-->
                                        <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                        <!--</small>-->
                                    </ui-select-choices>
                                </ui-select>
                                <!-- For multi player events -->
                                <div ng-hide="selectedEvent.playerscount == 1" ng-class="selectedEvent.type+'-text'" class="moving-self-heading">
                                    Event player names:
                                </div>
                                <ui-select ng-hide="selectedEvent.playerscount == 1" limit=2 on-select="checkSelection" multiple reset-search-input="true"
                                    ng-model="selectedEvent.players" theme="bootstrap" ng-disabled="selectedEvent.chooseplayer.disabled">
                                    <ui-select-match placeholder="Select player name"><img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team].logo}}">                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="player in players | filter: (filterTeamPlayers || '') && {team: selectedEvent.team} | propsFilter: {name: $select.search, team: $select.search}">
                                        <img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team].logo}}'>

                                        <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                        <!--<small>-->
                                        <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                        <!--</small>-->
                                    </ui-select-choices>
                                </ui-select>
                                <div class="mb">
                                    <label class="mda-checkbox">
                                            <input type="checkbox" ng-model="filterTeamPlayers" />
                                            <em class="subtle-checkbox"></em>Only selected team players
                                        </label>
                                </div>
                            </div>

                        </div>
                        <div ng-show="humanizedEvent" ng-class="selectedEvent.type" class="humanized-event" ng-bind-html="humanizedEvent"></div>
                    </div>
                    <div class="panel-footer">

                        <button ng-click="closeDrawer()" type="button" class="mb-sm btn btn-pill-right btn-default pull-right">Cancel
                            </button>
                        <button ng-click="updateEvent(selectedEvent)" disable-animation type="button" class="btn btn-square btn-pill-left pull-right btn-success">
                                Update Event
                            </button>
                        <!--<button ng-click="addEvent(selectedEvent)" disable-animation ng-show="selectedEvent.complete == true" type="button" class="btn btn-success">Send Event
                            </button>-->
                    </div>
                </div>
            </div>
            <!-- END Update EVENT DRAWER -->

            <!-- START timeline-->
            <div class="panel-body">
                <div id="timeline-card">
                    <!--<div>-->
                    <!--<paneltool tool-refresh="line back-and-forth grow" class="pull-right"><a-->
                    <!--href="#" panel-refresh="" data-spinner="line back-and-forth grow"-->
                    <!--tooltip="Refresh"> <em-->
                    <!--class="fa fa-refresh"></em> </a></paneltool>-->
                    <!--</div>-->
                    <div>
                        <ul ng-repeat="segment in match.data.timeline | reverse track by $index" class="timeline">

                            <li data-datetime="{{match.sport.segments[ match.data.timeline.length - 1 - $index].name.en}}" class="timeline-separator">
                                <div ng-show="(match.data.timeline.length - 1 - $index)>0" ng-click="EditSegmentTimes(match.data.timeline.length - 1 - $index)"
                                    class="segment-watch"><i class="glyph-stopwatch"></i></div>
                                <div ng-show="editingSegmentTime.index == (match.data.timeline.length - 1 - $index)" class="segment-time-editor">

                                    <div ng-show="match.data.timeline[match.data.timeline.length - 1 - $index].start" class="col-xs-6">
                                        <div class="edit-segment-container"><span class="edit-segment-title pull-left">Start:</span>
                                            <timepicker name="timepickr" required="" ng-model="match.data.timeline[match.data.timeline.length - 1 - $index].start" ng-change="changed()"
                                                hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                                        </div>
                                    </div>

                                    <div ng-show="match.data.timeline[match.data.timeline.length - 1 - $index].end" class="col-xs-5">
                                        <div class="edit-segment-container"><span class="edit-segment-title pull-left">End:</span>
                                            <timepicker name="timepickr" required="" ng-model="match.data.timeline[match.data.timeline.length - 1 - $index].end" ng-change="changed()"
                                                hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                                        </div>
                                    </div>

                                    <div class="segment-delete">
                                        <!--<button class="btn btn-sm btn-danger btn-delete"> <i class="fa fa-trash"></i></button>-->
                                        <button ng-show="(match.data.timeline.length - 1 - $index)>0" ng-click="removeSegment(match.data.timeline.length - 1 - $index)"
                                            class="delete btn btn-danger"></button>
                                        <button ng-show="(match.data.timeline.length - 1 - $index)>0" ng-click="removeSegment(match.data.timeline.length - 1 - $index)"
                                            class="btn btn-primary btn-outline"><i class="fa fa-pause"></i></button>

                                    </div>

                                    <!--<pre class="alert alert-info">{{match.data.timeline[match.data.timeline.length - 1 - $index]}}</pre>-->
                                </div>
                            </li>
                            <!-- START timeline item-->
                            <li ng-repeat="event in segment.events | reverse | filter: {status:'!removed'} track by $index" class="custom" ng-class="$index%2==0?'timeline-inverted':'timeline-left'">
                                <div class="timeline-badge">
                                    {{event.time}}'
                                </div>
                                <div class="timeline-panel">
                                    <div class="popover" ng-class="($index%2==0?'right':'left') +' '+ event.trigger">
                                        <div class="arrow"></div>
                                        <ng-include src="event.type?'app/views/partials/events/'+event.type+'.html':'app/views/partials/events/default.html'"></ng-include>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item-->
                            <!-- START timeline item-->
                            <li class="timeline-end">
                                <a href="#" class="timeline-badge timeline-start-badge">
                                    <em class="fa fa-circle"></em>
                                </a>
                            </li>
                            <!-- END timeline item-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END timeline-->
        </div>
        <!-- START Moderator Panel-->
        <div class="col-xs-6 pr0">
            <!-- Moderator Events -->
            <div class="panel col-xs-12 panel-highlighted">

                <div class="panel-heading">
                    <label class="mda-checkbox pull-right">
                            <input type="checkbox" ng-model="debugEvent" />
                            <em class="subtle-checkbox"></em>Debug Event
                        </label>
                    <textarea style="width:100%; clear:both" ng-show="debugEvent" class="panel-body">{{readable(newEvent)}}</textarea>
                </div>
                <div class="match-logos " style="clear:both" id="eventsPanel">
                    <!-- Team 1 -->
                    <div class="col-xs-6">
                        <button ng-click="createEmptyEventForTeam('home_team',match.data.home_team._id)" ng-style="newEvent.team != 'home_team'?{'background-color':'#F3F3F3'}:{'background-color':'#FFF'}"
                            class="btn btn-large btn-default col-xs-12">
                            <div class="event-team-logo">
                                <img class="moving-self-img" ng-class="newEvent.team != 'home_team'? 'desaturate':'zoom'" ng-src="{{match.data.home_team.logo}}"/>
                                <br/> {{match.data.home_team.name.en}}
                            </div>
                        </button>
                    </div>
                    <!-- End Team 1 -->
                    <!-- Team 2 -->
                    <div class="col-xs-6">
                        <button ng-click="createEmptyEventForTeam('away_team',match.data.away_team._id)" ng-style="newEvent.team != 'away_team'?{'background-color':'#F3F3F3'}:{'background-color':'#FFF'}"
                            class="btn btn-large btn-default col-xs-12">
                            <div class="event-team-logo">
                                <img class="moving-self-img" ng-class="newEvent.team != 'away_team'? 'desaturate':'zoom'" ng-src="{{match.data.away_team.logo}}"
                                />
                                <br/> {{match.data.away_team.name.en}}
                            </div>
                        </button>
                    </div>
                    <!-- End Team 2 -->
                </div>


                <!-- EVENT BUTTONS - Event Drawer = 1 -->
                <div ng-show="eventDrawer == 1" class="col-xs-12 p0">
                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Foul',{Foul:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Foul
                        </button>
                    </div>
                    <div class="col-xs-12 mt ">
                        <button ng-click="createEvent('Goal',{Goal:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Goal
                        </button>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Yellow',{Yellow:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Yellow
                        </button>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Red',{Red:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Red
                        </button>
                    </div>

                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Corner',{Corner:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Corner
                        </button>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Offside',{Offside:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Offside
                        </button>
                    </div>

                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Penalty',{Penalty:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Penalty
                        </button>
                    </div>

                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Shot on Goal',{Shot_on_Goal:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Shot on Goal
                        </button>
                    </div>


                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Own Goal',{Own_Goal:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Own Goal
                        </button>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="createEvent('Substitution',{Substitution:1})" type="button" class="btn btn-lg btn-default col-xs-12 m0">
                            <em class="fa fa-refresh fa-fw"></em>Substitution
                        </button>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="sendCancel()" ng-show="!needUpdate._id" type="button" class="mb-sm btn btn-warning col-xs-12">Remove</button>
                    </div>

                </div>
                <!-- END EVENT BUTTONS -->

                <!-- EVENT BUTTONS - Event Drawer = 2 -->
                <div ng-show="eventDrawer == 2" class="col-xs-12 p0">
                    <div ng-repeat="needUpdate in InNeedUpdateEvents | filter: {_id: '!'}" class="hello col-xs-12">
                        <div class="panel-body p0 pt">

                            <div class="col-xs-5 p0">
                                <div class="rounded pl" ng-class="needUpdate.type.toLowerCase()" style="line-height:30px">
                                    <strong>{{"  "+needUpdate.time+"'&nbsp;&nbsp;"+ capitalize(needUpdate.type) + "&nbsp;&nbsp;-&nbsp;&nbsp;"}}</strong>
                                    <img class="thumb24 btn-space" style="margin-bottom: 5px;" ng-if="match.data[needUpdate.team].logo" ng-src="{{match.data[needUpdate.team].logo}}"
                                    />{{match.data.home_team.name.en}}
                                </div>
                            </div>

                            <div class="col-xs-4" ng-init="filterTeamPlayers=true">
                                <ui-select ng-hide="needUpdate.playerscount == 2" limit=1 on-select="checkSelection($item,$model)" multiple reset-search-input="true"
                                    ng-model="needUpdate.players" theme="bootstrap" ng-disabled="needUpdate.chooseplayer.disabled">
                                    <ui-select-match placeholder="&nbsp;&nbsp;Select player name">
                                        <!--<img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team._id].logo}}">-->
                                        {{$item.name.en}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="{id:player._id, name:player.name} as player in Tags | filter: {type: 'Player', teamId: needUpdate.team_id} | filter: $select.search ">
                                        <!--| propsFilter: {name: $select.search, team: $select.search}-->
                                        <!--<img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team._id].logo}}'>-->
                                        <div ng-bind-html=" player.name.en | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <ui-select ng-hide="needUpdate.playerscount == 1" limit=2 on-select="checkSelection" multiple reset-search-input="true" ng-model="needUpdate.players"
                                    theme="bootstrap" ng-disabled="needUpdate.chooseplayer.disabled">
                                    <ui-select-match placeholder="&nbsp;&nbsp;Select player names"><img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team].logo}}">                                        {{$item.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="player in players | filter: (filterTeamPlayers || '') && {team: needUpdate.team} | propsFilter: {name: $select.search, team: $select.search}">
                                        <!--<img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team].logo}}'>-->
                                        <div ng-bind-html="player.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-3 p0">
                                <button ng-click="sendCancel()" ng-show="!needUpdate._id" type="button" class="mb-sm btn btn-default col-xs-12">Remove</button>
                            </div>

                        </div>

                        <div ng-show="needUpdate.humanizedEvent" ng-class="needUpdate.type.toLowerCase()" class="humanized-event" ng-bind-html="humanizedEvent"></div>
                    </div>
                    <div class="col-xs-12 mt">
                        <button ng-click="addEvent(newEvent)" type="button" class="btn btn-xl btn-success col-xs-12 m0">
                            <em class="fa fa-send fa-fw"></em>Send
                            </button>
                    </div>
                </div>

                <!-- END EVENT BUTTONS -->
                <div ng-show="InNeedUpdateEvents.length>0" class="col-xs-12 pt panel-title">
                    Events need updating:
                    <div style="border-bottom: 1px solid #ccc;"></div>
                </div>
                <div ng-repeat="needUpdate in InNeedUpdateEvents | filter: {type: '', _id:''}" class="hello col-xs-12">

                    <div class="panel-body p0 pt">

                        <div class="col-xs-5 p0">
                            <div class="rounded pl" ng-class="needUpdate.type.toLowerCase()" style="line-height:30px">
                                <strong>{{"  "+needUpdate.time+"'&nbsp;&nbsp;"+ capitalize(needUpdate.type) + "&nbsp;&nbsp;-&nbsp;&nbsp;"}}</strong>
                                <img class="thumb24 btn-space" ng-if="match.data[needUpdate.team].logo" style="margin-bottom: 5px;" ng-src="{{match.data[needUpdate.team].logo}}"
                                />{{match.data.home_team.name.en}}
                            </div>
                        </div>
                        <div class="col-xs-4 " ng-init="filterTeamPlayers=true">
                            <ui-select ng-hide="needUpdate.playerscount == 2" limit=1 on-select="checkSelection($item,$model)" multiple reset-search-input="true"
                                ng-model="needUpdate.players" theme="bootstrap" ng-disabled="needUpdate.chooseplayer.disabled">
                                <ui-select-match placeholder="&nbsp;&nbsp;Select player name">
                                    <!--<img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team._id].logo}}">-->
                                    {{$item.name.en}}
                                </ui-select-match>
                                <ui-select-choices repeat="{id:player._id, name:player.name} as player in Tags | filter: {type: 'Player', teamId: needUpdate.team_id} | filter: $select.search ">
                                    <!--| propsFilter: {name: $select.search, team: $select.search}-->
                                    <!--<img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team._id].logo}}'>-->
                                    <div ng-bind-html=" player.name.en | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                            <ui-select ng-hide="needUpdate.playerscount == 1" limit=2 on-select="checkSelection" multiple reset-search-input="true" ng-model="needUpdate.players"
                                theme="bootstrap" ng-disabled="needUpdate.chooseplayer.disabled">
                                <ui-select-match placeholder="&nbsp;&nbsp;Select player names"><img class="ui-select-match-img" alt="$item.team" ng-src="{{match.data[$item.team].logo}}">                                    {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="player in players | filter: (filterTeamPlayers || '') && {team: needUpdate.team} | propsFilter: {name: $select.search, team: $select.search}">
                                    <img class="ui-select-match-img" alt='{{player.team}}' ng-src='{{match.data[player.team].logo}}'>

                                    <div ng-bind-html=" player.name | highlight: $select.search"></div>
                                    <!--<small>-->
                                    <!--<span ng-bind-html="''+player.team | highlight: $select.search"></span>-->
                                    <!--</small>-->
                                </ui-select-choices>
                            </ui-select>
                            <!--<div class="mb">
                            <label class="mda-checkbox">
                            <input type="checkbox" ng-model="filterTeamPlayers" />
                            <em class="subtle-checkbox"></em>Only selected team players
                        </label>
                        </div>-->
                        </div>
                        <div class="col-xs-3 p0">
                            <button ng-click="updateEvent(needUpdate)" disable-animation ng-show="needUpdate._id" type="button" class="mb-sm btn btn-warning col-xs-12">Update</button>
                            <button ng-click="sendCancel()" ng-show="!needUpdate._id" type="button" class="mb-sm btn btn-default col-xs-12">Remove</button>
                        </div>

                    </div>

                    <div ng-show="needUpdate.humanizedEvent" ng-class="needUpdate.type.toLowerCase()" class="humanized-event" ng-bind-html="humanizedEvent"></div>
                </div>

                <!-- Utilities -->
                <div class="btn-group col-xs-12 pb-lg">

                    <button ng-click="openDrawer(3)" type="button" class="moderation btn btn-lg col-xs-4 btn-default">
                        <em class="fa fa-bullhorn fa-fw"></em> Message
                    </button>


                    <button ladda="pushLoading" data-style="zoom-in" ng-click="loadMatchData(match.id)" type="button" class="moderation btn btn-lg col-xs-4 btn-default">
                        <em class="fa fa-refresh fa-fw"></em> Data
                    </button>


                    <button ladda="reloadingServer" data-style="zoom-in" ng-click="reloadMatch(match.id)" type="button" class="moderation btn btn-lg col-xs-4 btn-default">
                        <em class="fa fa-refresh fa-fw"></em> Server
                    </button>
                </div>

                <div ng-show="eventDrawer == 3" class="panel col-xs-12 mt" style="margin-top: 18px;">
                    <div class="form-group mb-xl panel-body">

                        <div class="mda-form-group ">
                            <textarea ng-model="push.message" style="height: 180px;" placeholder="{{demomessage}}" rows="7" aria-multiline="true" tabindex="0"
                                aria-invalid="false" class="mda-form-control ng-pristine ng-valid ng-touched" style="margin-top: 0px; margin-bottom: 0px; height: 139px;"></textarea>
                            <label>Message</label>
                            <span class="mda-form-msg right">Any message here</span>
                        </div>
                        <div class="">
                            <button ladda="pushLoading" data-style="expand-left" ng-click="sendMessage(match.id, push.message)" class="btn btn-success pull-right btn-lg">
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
                <!-- END of Utilities -->
            </div>
            <!-- END Moderator Events -->
            <!-- Sponsor Panel -->
            <div class="panel col-xs-12 panel-highlighted">
                <div class="panel-heading">
                    <label class="control-label">Match Sponsor</label>
                    <span class="input-group col-sm-12">
                            <ui-select ng-model="match.sponsor" allow-single-deselect="true" theme="bootstrap" class="text-left">
                                <ui-select-match placeholder="Select sponsor from the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="sponsor in sponsors | filter: $select.search">
                                    <span ng-bind-html="sponsor.name | highlight: $select.search"></span>
                    </ui-select-choices>
                    </ui-select>
                    <span ng-show="match.sponsor" class="input-group-btn">
                             <button  type="button" ng-click="match.sponsor = null" class="btn btn-default">Clear</button>
                            </span>
                    </span>
                </div>
                
                <!-- TEXT -->
                <div ng-if="match.sponsor.name" class="col-xs-12">
                    <label>{{match.sponsor.name}}</label>
                     <multi-lang-text language-object="match.sponsor.text" class="mb0" default="en"></multi-lang-text>
                    <button ng-click="sponsorSendTextMessage(match.sponsor.text)" type="button" class="moderation btn btn-lg mt0 mb-lg col-xs-12 btn-default">
                        <em class="fa fa-bullhorn fa-fw"></em> Send Text
                    </button>
                </div>
                <!-- END TEXT -->
                
                <!-- BANNER -->
                <div class="col-xs-12" ng-style="match.sponsor?{                       
                                'height': '75px',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': '50%',
                                 'background-clip': 'content-box',
                                'background-image':'url('+match.sponsor.banner+')'}:''">
                </div>
                <div ng-if="match.sponsor.banner" class="col-xs-12 pb-lg">
                    <button ng-click="sponsorSendBanner(match.sponsor.banner)" type="button" class="moderation btn btn-lg mt0 col-xs-12 btn-default">
                        <em class="fa fa-bullhorn fa-fw"></em> Send banner
                    </button>
                </div>
                <!-- END BANNER-->
                
                <!-- VIDEO -->
                <div ng-if="match.sponsor.name" class="col-xs-12">
                    <input type="text" ng-model="match.sponsor.video" placeholder="Video url..." class="form-control mb0" />
                    <button ng-click="sponsorSendVideo(match.sponsor.video)" type="button" class="moderation btn btn-lg mt0 mb-lg col-xs-12 btn-default">
                        <em class="fa fa-bullhorn fa-fw"></em> Send Video
                    </button>
                </div>
                <!-- END VIDEO -->
            </div>
            <!-- END Sponsor Panel -->
        </div>
        <!-- END Moderator Panel -->
        <!-- JSON Event Data-->
        <!--<div ng-show="eventDrawer == 1" class="panel" style="margin-top: 18px;">
                    <h3 class="m0 pb-lg panel-heading">Event data:</h3>
                    <textarea style="width:100%; height:350px;" class="panel-body">{{readable(event)}}</textarea>
                </div>-->
        <!-- END JSON Event Data-->
    </div>

</div>